## First things First

In [1]:
pip install fasttext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     |████████████████████████████████| 68 kB 3.8 MB/s
Collecting pybind11>=2.2
  Using cached pybind11-2.10.0-py3-none-any.whl (213 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.21.6)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp37-cp37m-linux_x86_64.whl size=3162771 sha256=0bb5df43df5d8daaa109da9e85c6ad61202040500f7747c4523880f6d3758d2f
  Stored in directory: /root/.cache/pip/wheels/4e/ca/bf/b020d2be95f7641801a6597a29c8f4f19e38f9c02a345bab9b
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.10.0

In [7]:
pip install fasttext-langdetect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fasttext-langdetect
  Downloading fasttext-langdetect-1.0.3.tar.gz (6.6 kB)
Requirement already satisfied: fasttext>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from fasttext-langdetect) (0.9.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext>=0.9.1->fasttext-langdetect) (1.21.6)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.7/dist-packages (from fasttext>=0.9.1->fasttext-langdetect) (2.10.0)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext>=0.9.1->fasttext-langdetect) (57.4.0)
Building wheels for collected packages: fasttext-langdetect
  Building wheel for fasttext-langdetect (setup.py) ... done
  Created wheel for fasttext-langdetect: filename=fasttext_langdetect-1.0.3-py3-none-any.whl size=6548 sha256=6393c4110b26d8e38df66426cb5fb6e0ef0bc1e01e34a2e168b307d886b5f422
  Stored in directory: /root/.cache/pip/wheels/7d/cb/96/0fb678c75ebffce072159f58d3895245e048e41a4741d4382c
Successfully built fasttext-langdetect
Installing collected packages: fasttext-langdetect
Successfully installed fasttext-langdetect-1.0.3

In [2]:
pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=dbc3a78725f9bc917f17333517687c5485df63d3b9c8a72bc9f444bf21b6779a
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [3]:
pip install urlextract

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting urlextract
  Downloading urlextract-1.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from urlextract) (3.8.0)
Collecting uritools
  Downloading uritools-4.0.0-py3-none-any.whl (10 kB)
Collecting platformdirs
  Downloading platformdirs-2.5.2-py3-none-any.whl (14 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from urlextract) (2.10)
Installing collected packages: uritools, platformdirs, urlextract
Successfully installed platformdirs-2.5.2 uritools-4.0.0 urlextract-1.6.0

In [4]:
pip install emojis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emojis
  Downloading emojis-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: emojis
Successfully installed emojis-0.6.0

In [8]:
import pandas as pd
import numpy as np
import wget
import fasttext
import ftlangdetect
from urlextract import URLExtract
import emojis 
import re
import time

<a id='question01'></a>
## Loading the data

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/timelines.csv")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,conversation_id,created_at,text,possibly_sensitive,attachments,lang,id,public_metrics,author_id,source,reply_settings,context_annotations,pickle_id,username,cluster,geo,withheld
0,1411678569063911425,2021-07-04T13:29:33.000Z,توئیت جالب ژورنالیست لبنانی: «وقتی از فرودگاه ...,False,{'media_keys': ['3_1411678560075620358']},fa,1411678569063911425,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
1,1411309838915809281,2021-07-04T13:26:23.000Z,@huns_anderson 3240,False,NaN,und,1411677774809649153,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
2,1411677470349201412,2021-07-04T13:25:11.000Z,RT @mahan09152: بهتر نیست قبل از سفر به #ارمنس...,False,NaN,fa,1411677470349201412,"{'retweet_count': 30, 'reply_count': 0, 'like_...",1107323751874641922,Twitter for Android,everyone,"[{'domain': {'id': '30', 'name': 'Entities [En...",1107323751874641922,alalebarani,5,NaN,NaN
3,1403721453971836933,2021-06-12T14:30:49.000Z,RT @hsaremii: زاکانی نامه رسمی همتی قبل از آبا...,False,NaN,fa,1403721453971836933,"{'retweet_count': 266, 'reply_count': 0, 'like...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
4,1403721305313230851,2021-06-12T14:30:13.000Z,RT @2Namira: پس اون یازده نفر نور چشمی حقیقت...,False,NaN,fa,1403721305313230851,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70605,1515009568673259523,2022-04-15T16:50:03.000Z,RT @dr_abdolmaleki: با ابلاغ #سیاستهای_کلی_تام...,False,NaN,fa,1515009568673259523,"{'retweet_count': 57, 'reply_count': 0, 'like_...",1023587472910045185,Twitter for Android,everyone,NaN,1023587472910045185,m_karimib,3,NaN,NaN
70606,1513945153114943491,2022-04-12T18:53:22.000Z,@ChamranBuye @dr_abdolmaleki در فاز بعدی بزودی...,False,NaN,fa,1513953438920548362,"{'retweet_count': 0, 'reply_count': 3, 'like_c...",1023587472910045185,Twitter for Android,everyone,NaN,1023587472910045185,m_karimib,3,NaN,NaN
70607,1513947099095777289,2022-04-12T18:28:10.000Z,RT @dr_abdolmaleki: ده‌ها هزار فرصت شغلی در سا...,False,NaN,fa,1513947099095777289,"{'retweet_count': 101, 'reply_count': 0, 'like...",1023587472910045185,Twitter for Android,everyone,NaN,1023587472910045185,m_karimib,3,NaN,NaN
70608,1512603068138881024,2022-04-09T19:18:51.000Z,@mh_soheili انشالله مهمان امیرالمومنین باشند.,False,NaN,fa,1512872688091598849,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1023587472910045185,Twitter for Android,everyone,NaN,1023587472910045185,m_karimib,3,NaN,NaN
70609,1510147285124100098,2022-04-02T06:49:04.000Z,RT @m_T_Darestani57: مردم شریفی که با اشکهایِ ...,False,NaN,fa,1510147285124100098,"{'retweet_count': 10, 'reply_count': 0, 'like_...",1023587472910045185,Twitter for Android,everyone,NaN,1023587472910045185,m_karimib,3,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70610 entries, 0 to 70609
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   conversation_id      70610 non-null  int64
 1   created_at           70610 non-null  object
 2   text                 70610 non-null  object
 3   possibly_sensitive   70610 non-null  bool
 4   attachments          10960 non-null  object
 5   lang                 70610 non-null  object
 6   id                   70610 non-null  int64
 7   public_metrics       70610 non-null  object
 8   author_id            70610 non-null  int64
 9   source               70610 non-null  object
 10  reply_settings       70610 non-null  object
 11  context_annotations  3790 non-null   object
 12  pickle_id            70610 non-null  int64
 13  username             70510 non-null  object
 14  cluster              70610 non-null  int64
 15  geo                  729 non-null    object
 16  withheld             2 non-null      object
dtypes: bool(1), int64(5), object(11)
memory usage: 8.7+ MB

In [16]:
df.head()

,conversation_id,created_at,text,possibly_sensitive,attachments,lang,id,public_metrics,author_id,source,reply_settings,context_annotations,pickle_id,username,cluster,geo,withheld
0,1411678569063911425,2021-07-04T13:29:33.000Z,توئیت جالب ژورنالیست لبنانی: «وقتی از فرودگاه ...,False,{'media_keys': ['3_1411678560075620358']},fa,1411678569063911425,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
1,1411309838915809281,2021-07-04T13:26:23.000Z,@huns_anderson 3240,False,NaN,und,1411677774809649153,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
2,1411677470349201412,2021-07-04T13:25:11.000Z,RT @mahan09152: بهتر نیست قبل از سفر به #ارمنس...,False,NaN,fa,1411677470349201412,"{'retweet_count': 30, 'reply_count': 0, 'like_...",1107323751874641922,Twitter for Android,everyone,"[{'domain': {'id': '30', 'name': 'Entities [En...",1107323751874641922,alalebarani,5,NaN,NaN
3,1403721453971836933,2021-06-12T14:30:49.000Z,RT @hsaremii: زاکانی نامه رسمی همتی قبل از آبا...,False,NaN,fa,1403721453971836933,"{'retweet_count': 266, 'reply_count': 0, 'like...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN
4,1403721305313230851,2021-06-12T14:30:13.000Z,RT @2Namira: پس اون یازده نفر نور چشمی حقیقت...,False,NaN,fa,1403721305313230851,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1107323751874641922,Twitter for Android,everyone,NaN,1107323751874641922,alalebarani,5,NaN,NaN

<a id='question02'></a>
## Data cleaning and preprocessing

In [17]:
def _multiple_replace(mapping, text):
    pattern = "|".join(map(re.escape, mapping.keys()))
    return re.sub(pattern, lambda m: mapping[m.group()], str(text))

def convert_fa_numbers(input_str):
    mapping = {
        '۰': '0',
        '۱': '1',
        '۲': '2',
        '۳': '3',
        '۴': '4',
        '۵': '5',
        '۶': '6',
        '۷': '7',
        '۸': '8',
        '۹': '9',
        '.': '.',
    }
    return _multiple_replace(mapping, input_str)


def convert_ar_characters(input_str):
    """
    Converts Arabic chars to related Persian unicode char
    :param input_str: String contains Arabic chars
    :return: New str with converted arabic chars
    """
    mapping = {
        'ك': 'ک',
        'ى': 'ی',
        'ي': 'ی',
        'ئ':'ی',
        'إ':'ا',
        'أ':'ا',
        'ة':'ه',
        'ؤ':'و'
    }
    return _multiple_replace(mapping, input_str)


def preprocess(text):
    extractor = URLExtract()
    for url in extractor.gen_urls(text):
        text = text.replace(url,'<URL>')
    text = re.sub(r"\b(RT)\b[\s]{1}(@)[\w]+",' ',text)
    text = re.sub(r"(@)[\w]+",'<menrep>',text)
    emj = emojis.get(text)
    for i in emj:
        if i in text:
            text = text.replace(i,'<emoji>')
    # decode emojis
    # text = emojis.decode(text)
    text = convert_fa_numbers(text)
    text = convert_ar_characters(text)
    # regex to detect and replace all smilies in the text with <smiley>
    # text = re.sub(r"(:\s?\)|:-\)|\(\s?:|\(-:|:\'\)|:\s?D|8-\)|:\s?\||;\s?\)|:-\*|:-\||:-\(|:\s?P|:-P|:-p|:-b|:-O|:-o|:-0|:-\@|:\$|:-\^|:-&|:-\*|:-\+|:-\~|:-\`|:-\>|:-\<|:-\}|:-\{|\[:\s?\]|\[:\s?\]|:\s?\]|:\s?\[|:\s?\}|:\s?\{)",'<smiley>',text)
    # text = re.sub(r"[:;=<*^-]+ ?[-P|()_X\/\\oO3*'D]+ ?[-]*",'<smiley>',text)
    text = text.lower() # we lowercase here to prevent changes in the URLs and smilies
    text = text.strip()
    removelist = "<>"
    text = re.sub(r'[^\w'+removelist+']', ' ', text)
    # text = re.sub(r'[^\w]', ' ', text)
    # text = re.sub(r'((#)[\w]*)',' ',text)
    text = text.replace('\u200c', ' ')
    text = re.sub(r'[\s]{2,}', ' ', text)
    text = re.sub(r'(\w)\1{2,}', r'\1\1',text)
    text = convert_fa_numbers(text)
    text = re.sub(r'[\d]+','<number>',text)
    text = convert_ar_characters(text)
    
    
    return(text)

In [18]:
df['new_Text'] = (df['text'].apply(preprocess))
df['new_Text']

0        توییت جالب ژورنالیست لبنانی وقتی از فرودگاه بغ...
1                                        <menrep> <number>
2         بهتر نیست قبل از سفر به ارمنستان آقای شجاعی خ...
3         زاکانی نامه رسمی همتی قبل از آبان نود و هشت ک...
4         پس اون یازده نفر نور چشمی حقیقت داشت که اقای ...
                               ...
70605     با ابلاغ سیاستهای_کلی_تامین_اجتماعی از سوی ره...
70606    <menrep> <menrep> در فاز بعدی بزودی سامانه جست...
70607     ده ها هزار فرصت شغلی در سامانه جست وجوی شغل و...
70608           <menrep> انشالله مهمان امیرالمومنین باشند
70609     مردم شریفی که با اشکهای درد می آیند و با لیخن...
Name: new_Text, Length: 70610, dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70610 entries, 0 to 70609
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   conversation_id      70610 non-null  int64
 1   created_at           70610 non-null  object
 2   text                 70610 non-null  object
 3   possibly_sensitive   70610 non-null  bool
 4   attachments          10960 non-null  object
 5   lang                 70610 non-null  object
 6   id                   70610 non-null  int64
 7   public_metrics       70610 non-null  object
 8   author_id            70610 non-null  int64
 9   source               70610 non-null  object
 10  reply_settings       70610 non-null  object
 11  context_annotations  3790 non-null   object
 12  pickle_id            70610 non-null  int64
 13  username             70510 non-null  object
 14  cluster              70610 non-null  int64
 15  geo                  729 non-null    object
 16  withheld             2 non-null      object
 17  new_Text             70610 non-null  object
dtypes: bool(1), int64(5), object(12)
memory usage: 9.2+ MB

In [20]:
with open('/content/drive/MyDrive/Colab Notebooks/stopwords.txt', 'r',encoding = 'utf-8') as f:
    stopwords = f.read().splitlines()

In [21]:
df['new_Text_stp_removed'] = df['new_Text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70610 entries, 0 to 70609
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   conversation_id       70610 non-null  int64
 1   created_at            70610 non-null  object
 2   text                  70610 non-null  object
 3   possibly_sensitive    70610 non-null  bool
 4   attachments           10960 non-null  object
 5   lang                  70610 non-null  object
 6   id                    70610 non-null  int64
 7   public_metrics        70610 non-null  object
 8   author_id             70610 non-null  int64
 9   source                70610 non-null  object
 10  reply_settings        70610 non-null  object
 11  context_annotations   3790 non-null   object
 12  pickle_id             70610 non-null  int64
 13  username              70510 non-null  object
 14  cluster               70610 non-null  int64
 15  geo                   729 non-null    object
 16  withheld              2 non-null      object
 17  new_Text              70610 non-null  object
 18  new_Text_stp_removed  70610 non-null  object
dtypes: bool(1), int64(5), object(13)
memory usage: 9.8+ MB

<a id='question03'></a>
...............................................................
### - username_character_variation_count

In [23]:
A = []
for i in range(70610):
    set_lenght = len(set(str(df.loc[i,"username"])))
    A.append(set_lenght)
A = pd.DataFrame(A)
A = A.set_axis(["username_character_variation_count"], axis=1)
username_character_variation_count = pd.concat([df["username"], A], axis=1)

Sample_username_character_variation_count = username_character_variation_count.sample(n=15)
Sample_username_character_variation_count

              username  username_character_variation_count
33995           Bhdblo                                   6
6933     mahdiyefallah                                   9
45417     moosaravandi                                   9
21108     amohammadi56                                   8
52365         ghaflaty                                   7
26155  mojtabamahmoodi                                   9
20226  shayan_shahnazi                                   8
22550       usernaomid                                  10
52226      mrezakalaei                                   8
7797       ShahedAlavi                                   9
54745       Ahmad01359                                  10
44498       kimiasokot                                   7
10566    Elahe05305421                                  11
47482    EscobarMohsen                                  11
28823      SFH65728393                                  10

### username_length

In [24]:
B = []
x = range(70610 )
for i in x:
    a = len(str(df.loc[i,"username"]))
    B.append(a)
B = pd.DataFrame(B)
B = B.set_axis(["username_length"], axis=1)
username_length = pd.concat([df["username"], B], axis=1)

Sample_username_length = username_length.sample(n=15)
Sample_username_length

            username  username_length
14399      marjan_NY                9
51210       zbehbood                8
20266    watoowatooo               11
63910  nnmmana1358sa               13
39988  MahdiaTheLast               13
34098       arzazizi                8
6355    QmarsRahmati               12
17609      Bimaryam1                9
25301      MaedMaede                9
42305    minoobanoo7               11
54708     Ahmad01359               10
22169   FArAnAk__A_f               12
68369    Rosevelvett               11
27191   shireenbayat               12
17501      roozegara                9

### - username_digits

In [25]:
C = [] 
for j in range(70610): 
    res = ''.join(filter(lambda i: i.isdigit(), str(df.loc[j,"username"])))
    C.append(len(res))
C = pd.DataFrame(C)
C = C.set_axis(["username_digits"], axis=1)
username_digits = pd.concat([df["username"], C], axis=1)

Sample_username_digits = username_digits.sample(n=15)
Sample_username_digits

             username  username_digits
55304         h003ein                3
27677     jdale_ahsan                0
59783      Javidovsky                0
33455         alinamy                0
38086        Kairan_n                0
22376        aref_che                0
42817         M_Asmmm                0
69159  Nationalist101                3
10329     shahrokh___                0
30782        Mkamalr2                1
47217        bamari88                2
42524    Sara72850425                8
17493       roozegara                0
42795  m_ali_abdolahi                0
51707      aliiireza_                0

## ***Total username information ***

In [26]:
Total_username = pd.concat([df["username"], A, B, C], axis=1)

Sample_Total_username = Total_username.sample(n=15)
Sample_Total_username

,username,username_character_variation_count,username_length,username_digits
50149,HealIran,7,8,0
16161,The_hossein_,8,12,0
14298,naderitwt,8,9,0
13090,noonalf,5,7,0
47866,Daaghaan,5,8,0
67531,banoohosnaa,6,11,0
45764,aleshtar98,9,10,2
29414,Bahrain_farsi,9,13,0
20992,bano_bahar78,9,12,2
26667,bachehporroo777,9,15,3
17230,smtaghavinejad,12,14,0
62084,Ghasemfar,8,9,0
45267,alhosseini,8,10,0
38750,Elham_twt,8,9,0
60849,1370Mahtab,9,10,4

<a id='question04'></a>
## language identification

In [27]:
from ftlangdetect import detect
lan = []
l = range(70610 )
for i in l:
    t = (df.loc[i,"new_Text_stp_removed"])
    result = detect(text = t, low_memory=False)
    lan.append(result['lang'])
lan = pd.DataFrame(lan)
lan = lan.set_axis(['Lan_Detection'], axis=1)
Lan_Detection = pd.concat([df['username'], df['new_Text_stp_removed'], df['lang'],lan ], axis=1)

Sample_Lan_Detection = Lan_Detection.sample(n=15)
Sample_Lan_Detection

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

,username,new_Text_stp_removed,lang,Lan_Detection
66929,GhazalGolshiri,a taliban military court has imprisoned khalid...,en,en
11658,_bahar121,<menrep> <emoji><emoji>,und,de
53558,MehdiNabiyan,<number> لازم ذکر مطالعات حیات وحش ایران درخوا...,fa,fa
8607,imahla_sh,<menrep> <menrep> نمیخندی <emoji>,fa,fa
23437,rezashah70,<menrep> درود جناب کیانی عزیز مصاحبه اخیر علیا...,fa,fa
145,Matarsak20,<menrep> سپیده بیداری,fa,fa
61394,tohidian,عاشقانه بازی جاسوس استرالیایی زندان ایران گیلب...,fa,fa
56489,amirnazemy,هزینه بالغ جامعه گاه افراد تنهایی پردازند زهرا...,fa,fa
34340,MrDariushZand,خانم معتمدآریا مهسا_امینی قانون مورد احترام تخ...,fa,fa
70505,erfane3as,<menrep> شمام خروپف,fa,fa
55218,bigdeli66,حسین جان کیستی غم دست دادنت مردان شبیه زنان گر...,fa,fa
28698,Zdani16,<menrep> عزیزم تسلیت میگم<emoji>,fa,fa
40000,MahdiaTheLast,<menrep> ممنون حاجتروا باشین,fa,fa
54316,ali0000alegry,<menrep> اهااه سلم لی علیهم,ar,fa
15702,SocialTelescop,<menrep> <menrep> پارچه آدم رفیق بامعرفت جور م...,fa,fa

<a id='question05'></a>
#### boolean columns for retweets, mentions (replies), and original tweets

In [28]:
T = []
RT = []
M = []
for i in range(70610):
    tweet = str(df.loc[i,"text"])
    if ('RT') in tweet:
        RT.append(1)
        T.append(0)
        M.append(0)
    elif ('RT' and '@') not in tweet:
        T.append(1)
        RT.append(0)
        M.append(0)
    elif ('@' in tweet) and ('RT' not in tweet):
        M.append(1)
        T.append(0)
        RT.append(0)
T = pd.DataFrame(T)
RT = pd.DataFrame(RT)
M = pd.DataFrame(M)
T = T.set_axis(['Orginal Tweets'], axis=1)
RT = RT.set_axis(['Retweets'], axis=1)
M = M.set_axis(['Mentions'], axis=1)
Total_Tweets = pd.concat([df["username"], df['text'], T, RT,M], axis=1)

Sample_Total_Tweets = Total_Tweets.sample(n=15)
Sample_Total_Tweets

,username,text,Orginal Tweets,Retweets,Mentions
55623,EShishehgar,RT @EShishehgar: بعضی از دوستان #ایران ۱۳۵۷ رو...,0,1,0
13884,niloufar2017,RT @kelidemelli1: نیاز فوری خانه‌های بهداشت #چ...,0,1,0
37431,kordlo68,شاید یه کتاب نوشتم با عنوان:\nخودت باش حزب‌اللهی,1,0,0
47259,khano_ombahar,@sharifian211 نثار روح بلندش... \nاللّهُمَّ صَ...,0,0,1
32382,Parisa07586671,@M_roshanpoor اللهم صل علی محمد و آل محمد و عج...,0,0,1
9837,omolbanengalali,RT @hajiabdolahi1: با استوریای مذهبی فقط گوشیت...,0,1,0
28100,dino__ghost,@Ana_tajik معذرت میخوام. خدا رحمتشون کنه. ببخش...,0,0,1
45569,arghanon,@meftah چقدر مسلط #اخبار_جعلی منتشر می‌کنید\n#...,0,0,1
13767,AghBahman,@titoolak_ نمیدونم دقیقا، پراکنده اینور اونور ...,0,0,1
41539,shahbazialii,@Zarkesh5 ارادت:)),0,0,1
47443,vvatr_ir,مهم‌ترین فائده‌ی ستاد اربعین کشور آن است که کف...,1,0,0
45975,FallahReihaneh,@ManotoNews \nبزودی حماسه تزریق گسترده آب‌مقط...,0,0,1
23367,tahminediba,نترسید نلرزیده بریزید خیابون و انتقام بگیرید س...,1,0,0
52415,ghaflaty,@beman_baman دوستت داره عزیزم,0,0,1
65406,sokhanran1,@parsa_tarane6 همش منتظر بودم آخرش بنویسه من خ...,0,0,1

<a id='question06'></a>
## extracting featurs per user's tweets
### average tokens

## **tokenization**

In [29]:
df['tokenized'] = (df['new_Text'].apply(str.split))
df['tokenized_number'] = (df['tokenized'].apply(len))
df['tokenized_number']

0        22
1         2
2        27
3        27
4        24
         ..
70605    19
70606    29
70607    22
70608     5
70609    25
Name: tokenized_number, Length: 70610, dtype: int64

In [30]:
Tokenized_Tweets = pd.concat([Total_Tweets, df['tokenized'], df['tokenized_number']], axis=1)

Sample_Tokenized_Tweets = Tokenized_Tweets.sample(n=15)
Sample_Tokenized_Tweets

,username,text,Orginal Tweets,Retweets,Mentions,tokenized,tokenized_number
29791,HjtElnaz,@hezarpam 😂\nخب ما هم میتونیم عزیز! \nاون 4 کی...,0,0,1,"[<menrep>, <emoji>, خب, ما, هم, میتونیم, عزیز,...",18
46624,laleh65f,RT @roshan_na_: زائر اربعین،\n\n یادمان باشد؛ ...,0,1,0,"[زایر, اربعین, یادمان, باشد, جاماندگانی, که, ب...",23
55929,Rightelpr,@KashkouliMohamd دوست خوبم برای بررسی مشکلی که...,0,0,1,"[<menrep>, دوست, خوبم, برای, بررسی, مشکلی, که,...",18
43105,hafezeh_tarikhi,مینو محرز، سرپرست تیم تحقیقاتی تولید واکسن برک...,1,0,0,"[مینو, محرز, سرپرست, تیم, تحقیقاتی, تولید, واک...",56
25832,Oliver_jzy,@RaymondLafleur6 @cable_kimbra @NUFDIran Wikip...,0,0,1,"[<menrep>, <menrep>, <menrep>, wikipedia, is, ...",18
13019,mahtabyac,@Negariii5 ملت رد دادن😂😂😂,0,0,1,"[<menrep>, ملت, رد, دادن<emoji><emoji><emoji>]",4
8799,fateeemeh_h,کسشر تر از مینی اسکارف عقد آریاییه، ینی کرینجج...,1,0,0,"[کسشر, تر, از, مینی, اسکارف, عقد, آریاییه, ینی...",9
40614,owjmedia_org,#دیوارنگاره | بوسه #قهرمان_ملی بر دست #پدر، رو...,1,0,0,"[دیوارنگاره, بوسه, قهرمان_ملی, بر, دست, پدر, ر...",45
11630,_bahar121,@abboodyakhi86 شاید میخوایم بریم آش بگیریم 😂😂,0,0,1,"[<menrep>, شاید, میخوایم, بریم, آش, بگیریم, <e...",7
38274,mr_golestani,´\nنجات اهل عالم با #حسین است\n\nمراسم عزاداری...,1,0,0,"[نجات, اهل, عالم, با, حسین, است, مراسم, عزادار...",20
18478,setarehmihan,RT @GreyWol08482159: 2. جنس این رژیم از خون و ...,0,1,0,"[<number>, جنس, این, رژیم, از, خون, و, مرگ, و,...",28
41864,AApedarzheepet6,هنوز رییسعلی های این مرز بوم زنده اند تا دشمنا...,1,0,0,"[هنوز, رییسعلی, های, این, مرز, بوم, زنده, اند,...",32
22996,Khamenei_fa,اگر نماز جمعه‌ی این هفته‌تان از #نماز_جمعه‌ مث...,1,0,0,"[اگر, نماز, جمعه, ی, این, هفته, تان, از, نماز_...",24
13753,AghBahman,RT @TaraKh5: حالا که زائرین تو راه بدون وسیله ...,0,1,0,"[حالا, که, زایرین, تو, راه, بدون, وسیله, موندن...",26
60731,nazi45286036,دردسر فیلتر شکن ، دیدن توییتای مسخره و جنسی وچ...,1,0,0,"[دردسر, فیلتر, شکن, دیدن, توییتای, مسخره, و, ج...",21

## **average_tokens_per_original _tweet**

In [31]:
Total_orginal_Tweets = pd.concat([df["username"], df['text'], T,df['tokenized_number']], axis=1)

In [32]:
Total_orginal_Tweets = Total_orginal_Tweets[Total_orginal_Tweets['Orginal Tweets']==1]
Groupby_OT = Total_orginal_Tweets.groupby(['username']).sum()
Groupby_OT['per_original_tweet'] = round(Groupby_OT['tokenized_number']/Groupby_OT['Orginal Tweets'])

Sample_Groupby_OT = Groupby_OT.sample(n=15)
Sample_Groupby_OT

                 Orginal Tweets  tokenized_number  per_original_tweet
username
FadakarPetros44               5               120                24.0
SepidehAlizad11              59              2236                38.0
sarvinnorouzii              100              1040                10.0
m313th                       21               302                14.0
fatemeh4135                  17               527                31.0
behnam199912                 10               242                24.0
roya_456                     10               225                22.0
shayan_shahnazi              25               794                32.0
velayi59                     13               215                17.0
Rouholamini_ir               50               411                 8.0
the__alireza                 23               246                11.0
moosaravandi                 41              1316                32.0
MyPinkyland                  12               332                28.0
mohsenreyhani01              28              1525                54.0
Flirticia                    47              1616                34.0

## **average_tokens_per_reply**

In [33]:
Total_Replies = pd.concat([df["username"], df['text'], M,df['tokenized_number']], axis=1)

In [34]:
Total_Replies = Total_Replies[Total_Replies['Mentions']==1]
Groupby_M = Total_Replies.groupby(['username']).sum()
Groupby_M['per_Replies'] = round(Groupby_M['tokenized_number']/Groupby_M['Mentions'])

Sample_Groupby_M = Groupby_M.sample(n=15)
Sample_Groupby_M

                 Mentions  tokenized_number  per_Replies
username
AYAyatollahi           13               478         37.0
a_sharareh             12               149         12.0
ABAN_DOKHT64           76               658          9.0
kavoshmedia             4                54         14.0
mimnoon                40               560         14.0
mrdanaei               51               475          9.0
dariushkhan7           17               218         13.0
mahdiyefallah           2                22         11.0
Matinfar6              32               269          8.0
Bahar_Azadii            1                47         47.0
shayan_shahnazi        60               914         15.0
AdelSharifi2            6               129         22.0
legendcyber02          86               459          5.0
roshangarnasl          62              1565         25.0
MojtabaRezakhah        10               213         21.0

## **average_tokens_per_retweet**

In [35]:
Total_Retweets = pd.concat([df["username"], df['text'], RT,df['tokenized_number']], axis=1)

In [36]:
Total_Retweets = Total_Retweets[Total_Retweets['Retweets']==1]
Groupby_RT = Total_Retweets.groupby(['username']).sum()
Groupby_RT['per_Retweets'] = round(Groupby_RT['tokenized_number']/Groupby_RT['Retweets'])

Sample_Groupby_RT = Groupby_RT.sample(n=15)
Sample_Groupby_RT

                 Retweets  tokenized_number  per_Retweets
username
iwasTaha               49               820          17.0
Monirrfp               92              1526          17.0
MGA723                 91              1730          19.0
cheguevarasis          33               584          18.0
fap_ma                  8               139          17.0
shoiichi                2                44          22.0
FENDI2018F             64               816          13.0
DariushTusi            19               413          22.0
azademard              60              1365          23.0
Milad_Aghai1           24               478          20.0
shashamimmim           25               531          21.0
zahrachakhmaghi         9               193          21.0
cna_ur                  2                34          17.0
ashobmotlagh           48               837          17.0
azzahraasharif          1                23          23.0

<a id='question07'></a>
### Average Hashtags

## **Hashtag counts**

In [37]:
H = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'\#')
    l = len(re.findall(pattern, string))
    H.append(l)
Hashtag = pd.DataFrame(H)
Hashtag = Hashtag.set_axis(["Hashtag"], axis=1)
Hashtag = pd.concat([df["text"], Hashtag], axis=1)
Sample_Hashtag = Hashtag.sample(n=15)
Sample_Hashtag

                                                    text  Hashtag
42906         تجربه و خاطراتش رو https://t.co/sRp4vhHsot        0
16135                         @ho3ein_khalili حروم شدددد        0
51952  @NimaGhazi4 @iranintlsport @IranIntl منظورم او...        0
68042  @ForEveryBd قطعا ملکه مخالفانی حتی تو خود انگل...        0
53513                     @baharbaharon اسپانسرم کوووووو        0
37004  RT @zarii_bihi1: مقام معظم رهبری:\n🔸رئیس علی د...        0
30986  RT @_RRISK_: همه جزوه رو توی یه ساعت جمع کردم ...        0
52801                                        @i_a_lii 🦉🦉        0
31651  RT @Xparsa6x: اونایی که تا کار دارن یاد ما میو...        0
36292  @sinataherii خب اصن نوید محمد زاده هیچکی از هم...        0
56144                    @Vessi28265389 راضی‌‌‌ای راستی؟        0
7289                           @farhad_nazarian روحش شاد        0
60773                       @ArezooTorktaz یه دونه ایی 🥰        0
3177                                   @kheyzaran تک خور        0
37838  @soozaanam دعا میکنم محبت امام حسین ع بیاد تو ...        0

## **average_hashtags_per_original _tweet**

In [38]:
Total_OT_Hashtagh = pd.concat([df["username"], df['text'], T, Hashtag['Hashtag']], axis=1)

In [39]:
Total_OT_Hashtagh = Total_OT_Hashtagh[Total_OT_Hashtagh['Orginal Tweets']==1]
Groupby_OTH = Total_OT_Hashtagh.groupby(['username']).sum()
Groupby_OTH['per_original_tweet'] = (Groupby_OTH['Hashtag']/Groupby_OTH['Orginal Tweets'])

Sample_Groupby_OTH = Groupby_OTH.sample(n=15)
Sample_Groupby_OTH

                Orginal Tweets  Hashtag  per_original_tweet
username
RetardedShaman              26        0            0.000000
S_Shahvarpoor               78       29            0.371795
Saba90022582                 8        4            0.500000
ma_vakili                   99       69            0.696970
torabi_esf                  12       13            1.083333
Nimfasele                   23       32            1.391304
h003ein                     35        7            0.200000
ghalandaramm                14        5            0.357143
itspersephoneh               7        0            0.000000
K91Ol                       55        7            0.127273
smtaghavinejad               3        4            1.333333
azademard                    4        4            1.000000
dokhtar_aban25              20       24            1.200000
EtemadOnline                88       92            1.045455
barbadshodeh                27        0            0.000000

## **average_hashtags_per_reply**

In [40]:
Total_R_Hashtagh = pd.concat([df["username"], df['text'], M, Hashtag['Hashtag']], axis=1)

In [41]:
Total_R_Hashtagh = Total_R_Hashtagh[Total_R_Hashtagh['Mentions']==1]
Groupby_RH = Total_R_Hashtagh.groupby(['username']).sum()
Groupby_RH['per_Replies'] = (Groupby_RH['Hashtag']/Groupby_RH['Mentions'])

Sample_Groupby_RH = Groupby_RH.sample(n=15)
Sample_Groupby_RH

                 Mentions  Hashtag  per_Replies
username
AYAyatollahi           13        0     0.000000
aboalhasani1157        80        0     0.000000
Kasebe_bazari          48        0     0.000000
samane_salehi          94        0     0.000000
NegarMortazavi         26        2     0.076923
khodavandegar3         28        0     0.000000
azadsharifi            56        1     0.017857
RFJ_Persian             2        4     2.000000
ShilaNakhjavan         19        0     0.000000
Sh7gh7y7gh             17        0     0.000000
mojtabamahmoodi        33        0     0.000000
mrezakalaei            18        0     0.000000
Mhdipahlavani          61        3     0.049180
Rahyab4                 5        5     1.000000
Nadernalin             30        1     0.033333

## **average_hashtags_per_retweet**

In [42]:
Total_RT_Hashtagh = pd.concat([df["username"], df['text'], RT, Hashtag['Hashtag']], axis=1)

In [43]:
Total_RT_Hashtagh = Total_RT_Hashtagh[Total_RT_Hashtagh['Retweets']==1]
Groupby_RTH = Total_RT_Hashtagh.groupby(['username']).sum()
Groupby_RTH['per_Retweet'] = (Groupby_RTH['Hashtag']/Groupby_RTH['Retweets'])

Sample_Groupby_RH = Groupby_RTH.sample(n=15)
Sample_Groupby_RH

                 Retweets  Hashtag  per_Retweet
username
_hadis_z               41       27     0.658537
__Ashk__               55       49     0.890909
safdari_h               8        2     0.250000
banoyetalabe           26       34     1.307692
rezaz__                 2        0     0.000000
shoiichi                2        0     0.000000
Sadaf1363             100        6     0.060000
S_Shahvarpoor           6        0     0.000000
homayoun2019           22       25     1.136364
bachehporroo777         2        0     0.000000
ziabary                20        9     0.450000
RetardedShaman          3        0     0.000000
ShirzadMehdi            5        0     0.000000
3eyedamir              61       19     0.311475
Bidar18121403          29       14     0.482759

<a id='question08'></a>
### Average emojis

## **Emojis counts**

In [44]:
E = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile('[\U00010000-\U0010ffff]', flags=re.UNICODE)
    l = len(re.findall(pattern, string))
    E.append(l)
Emojis = pd.DataFrame(E)
Emojis = Emojis.set_axis(["Emojis"], axis=1)
Emojis = pd.concat([df["text"], Emojis], axis=1)
Sample_Emojis = Emojis.sample(n=15)
Sample_Emojis

                                                    text  Emojis
14581  @doctor_biza دو مورد اساسی ممکنه پیش اومده باش...       0
33455  1- جهش جدید از نوع حذفی(حذف شدن 2 اسید آمینه 6...       0
66188  RT @AuschwitzMuseum: 14 September 1933 | A Ger...       0
9604   پنجمین روز تجمعات خانواده‌های معترض به حکم اعد...       0
46849  از شدت استرس نمیدونم چیکار کنم\nنه حوصله بیرون...       2
67754                      @Sevda_Aslanii خیلی ممنونم 😊🌹       2
67805                        @sanameshon2 خیلی ممنونم 😊🌹       2
56312  RT @Weneverforget00: جاوید نام ان ۵۷، دهه ۶۰، ...       0
26973  @BrandArken موقعیت مشخص باشد شاید. ان هم به شر...       0
28428              @_Amir_mohammad شوخی داریم ما با هم؟!       0
58060                                       @liviuuh 😍😍😍       3
25854  RT @SGhasseminejad: توضیح دادم که جمهوری اسلام...       0
50583  ۲/ تا به نسل‌های آینده نشان دهیم در دوره‌ای که...       0
24640  جاده خاکی نزده. خیلی وقته تو لیست #سایبری بلاک...       0
51209  @khazaei_twt @hsaremii امام علی #گشت_ارشاد داش...       0

## **average_emojis_per_original _tweet**

In [45]:
Total_OT_Emojis = pd.concat([df["username"], df['text'], T, Emojis['Emojis']], axis=1)

In [46]:
Total_OT_Emojis = Total_OT_Emojis[Total_OT_Emojis['Orginal Tweets']==1]
Groupby_OTE = Total_OT_Emojis.groupby(['username']).sum()
Groupby_OTE['per_original_tweet'] = (Groupby_OTE['Emojis']/Groupby_OTE['Orginal Tweets'])

Sample_Groupby_OTE = Groupby_OTE.sample(n=15)
Sample_Groupby_OTE

                 Orginal Tweets  Emojis  per_original_tweet
username
SaeedGh75033491              40      13            0.325000
Alr677                        1       0            0.000000
HedayatiBahman               31       0            0.000000
yeguun7                      34      13            0.382353
Mehri31281378                33      28            0.848485
A_N_MOHTARAM                 35      14            0.400000
aznakhabar313                 4       1            0.250000
MahyarPanahy                  2       0            0.000000
jumanjisms                    2       1            0.500000
MajidKasiri                  39       6            0.153846
fatemeh_sabet                 7       6            0.857143
Mehdi___nasiri               33       0            0.000000
gole_yass                    12      21            1.750000
CENTCOMFarsi                 96       8            0.083333
kaBR5dhvNRhJSs3               7       0            0.000000

## **average_emojis_per_reply**

In [47]:
Total_R_Emojis = pd.concat([df["username"], df['text'], M, Emojis['Emojis']], axis=1)

In [48]:
Total_R_Emojis = Total_R_Emojis[Total_R_Emojis['Mentions']==1]
Groupby_RE = Total_R_Emojis.groupby(['username']).sum()
Groupby_RE['per_Replies'] = (Groupby_RE['Emojis']/Groupby_RE['Mentions'])

Sample_Groupby_RE = Groupby_RE.sample(n=15)
Sample_Groupby_RE

                Mentions  Emojis  per_Replies
username
khandaaie             16       0     0.000000
ShahryarIran          13       3     0.230769
ajab_baba_ajab        99      23     0.232323
TofanKHofteh          44      37     0.840909
AYAyatollahi          13       0     0.000000
nazi_sar89            81      63     0.777778
Patriot4Persia        10       1     0.100000
Mehri31281378          6       1     0.166667
AtomicBelonde         91     115     1.263736
DehkordiMaryam        65       4     0.061538
Foroutan27_ir         73      18     0.246575
RadmehrSiavash         8       0     0.000000
smtaghavinejad        92      12     0.130435
shahbazialii          82      19     0.231707
nucky7043             65      48     0.738462

## **average_emojis_per_retweet**

In [49]:
Total_RT_Emojis = pd.concat([df["username"], df['text'], RT, Emojis['Emojis']], axis=1)

In [50]:
Total_RT_Emojis = Total_RT_Emojis[Total_RT_Emojis['Retweets']==1]
Groupby_RTE = Total_RT_Emojis.groupby(['username']).sum()
Groupby_RTE['per_Retweet'] = (Groupby_RTE['Emojis']/Groupby_RTE['Retweets'])

Sample_Groupby_RTE = Groupby_RTE.sample(n=15)
Sample_Groupby_RTE

                 Retweets  Emojis  per_Retweet
username
rhbiti                  1       0     0.000000
hamedfadaee             1       0     0.000000
STUDENTISTS_ir          8       0     0.000000
dorbinie               60       5     0.083333
faribaeii               1       0     0.000000
Pakbakhteh2             1       0     0.000000
mahdi_meshkini         28      14     0.500000
torabi_esf             54       0     0.000000
the__alireza            2       0     0.000000
farzadnikghadam         1       0     0.000000
aleshtar98              3       1     0.333333
chipsikolang           43      38     0.883721
OMdwhSQ7BqlvT0i        43       7     0.162791
hossein77_             39      16     0.410256
amin_mahdi313          42       8     0.190476

<a id='question09'></a>
### Average smilies

## **Smilies counts**

In [68]:
S = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r"\:|, \:3, \:O, \:o, \:0, \:@, \:$, \:^, \:&, \:*, \:+, \:~, \:`, \:>, \:<, \:}, \:{, \:[, \:]")
    l = len(re.findall(pattern, string))
    S.append(l)
Smilies = pd.DataFrame(S)
Smilies = Smilies.set_axis(["Smilies"], axis=1)
Smilies = pd.concat([df["text"], Smilies], axis=1)
Sample_Smilies = Smilies.sample(n=15)
Sample_Smilies

                                                    text  Smilies
26896  RT @BaranAbedi: ‌\n‌شما هم وقتی اسم خدا رو می‌...        2
41485                                 @Azizi1424 ممنووون        0
37218  @ayatr0llah might regret saying this (I will r...        0
25553                          جای یکی خیلی اینجا خالیه🥹        0
9420              @Ahmadrezaufuz @Qutlas تولدشون مبارک💙🌹        0
51058  RT @Piyarom_ir00: حتی نگاه شما لرزه ب جان آنها...        1
34871  در زمان تولیت آقای رئیسی در آستان قدس یک زیرمج...        0
62852  دارم باهاش حرف میزنم میگم درس بخون بعد ۶ سال د...        0
32812  ۶/ تکلیف ما عاشوراگونه است. برای احیای دین و ا...        0
32007                @haji_ghorghoro خدایا کمکشون کن...😔        0
69845  RT @goliammar: در این مقاله مفصل سعی کردم زوای...        1
46534  افراد شاخص اصلاح طلب در واکنش‌ به اینکه آمریکا...        0
29803  @sepehr5110 @AngelOnDuty06 @Amadeus6201791 شما...        0
23629  RT @malkomx88: خطاب  به اعضا جدید شورای شهر #ش...        1
3603       جای عارف در عکس خالیه https://t.co/3oajbLCQco        1

## **average_smilies_per_original _tweet**

In [69]:
Total_OT_Smilies = pd.concat([df["username"], df['text'], T, Smilies['Smilies']], axis=1)

In [70]:
Total_OT_Smilies = Total_OT_Smilies[Total_OT_Smilies['Orginal Tweets']==1]
Groupby_OTS = Total_OT_Smilies.groupby(['username']).sum()
Groupby_OTS['per_original_tweet'] = (Groupby_OTS['Smilies']/Groupby_OTS['Orginal Tweets'])

Sample_Groupby_OTS = Groupby_OTS.sample(n=15)
Sample_Groupby_OTS

                 Orginal Tweets  Smilies  per_original_tweet
username
Mirasbifarhangi              69       21            0.304348
amohammadi56                 10        8            0.800000
ngn991220                    20       11            0.550000
Spourabbas1                  37       10            0.270270
yooseffarahani               24       21            0.875000
y_yosefi                     24        4            0.166667
Hichkas1985                   6        6            1.000000
mahtab6623                   43       15            0.348837
K91Ol                        55       69            1.254545
AshkanHaifa                  62       53            0.854839
daryafatemi                   2        2            1.000000
ShChamran                     1        0            0.000000
TayebehSiavash               11        2            0.181818
bigdeli66                    28       11            0.392857
mortaza27                    33       25            0.757576

## **average_smilies_per_reply**

In [71]:
Total_R_Smilies = pd.concat([df["username"], df['text'], M, Smilies['Smilies']], axis=1)

In [72]:
Total_R_Smilies = Total_R_Smilies[Total_R_Smilies['Mentions']==1]
Groupby_RS = Total_R_Smilies.groupby(['username']).sum()
Groupby_RS['per_Replies'] = (Groupby_RS['Smilies']/Groupby_RS['Mentions'])

Sample_Groupby_RS = Groupby_RS.sample(n=15)
Sample_Groupby_RS

                 Mentions  Smilies  per_Replies
username
Seyedaminnikdel        67        6     0.089552
RezaHingani            45        9     0.200000
mahtab_sep             84       12     0.142857
niloufar2017           31        5     0.161290
Dr_rastegar            84        6     0.071429
_bahar121              74        4     0.054054
GhazalGolshiri         26       23     0.884615
tanhayekshahab          8        0     0.000000
afzouni                61        5     0.081967
TofanKHofteh           44        0     0.000000
Leila_Arya             31        6     0.193548
shahbazialii           82        6     0.073171
EscobarMohsen          97       25     0.257732
mhk201694              72        0     0.000000
dadashetorob           34        1     0.029412

## **average_smilies_per_retweet**

In [73]:
Total_RT_Smilies = pd.concat([df["username"], df['text'], RT, Smilies['Smilies']], axis=1)

In [74]:
Total_RT_Smilies = Total_RT_Smilies[Total_RT_Smilies['Retweets']==1]
Groupby_RTS = Total_RT_Smilies.groupby(['username']).sum()
Groupby_RTS['per_Retweet'] = (Groupby_RTS['Smilies']/Groupby_RTS['Retweets'])

Sample_Groupby_RTS = Groupby_RTS.sample(n=15)
Sample_Groupby_RTS

                 Retweets  Smilies  per_Retweet
username
moein_moslem           17       22     1.294118
FKamrannia              5        5     1.000000
jalali133              45       57     1.266667
Baharazadi2020         16       26     1.625000
ravaniiiz               1        1     1.000000
ali0000alegry           8       13     1.625000
Oliver_jzy             28       37     1.321429
iminfuckinpain         18       32     1.777778
sad2169                76       94     1.236842
kooroshmam              1        1     1.000000
omolbanengalali        45       60     1.333333
tcyberi                84      126     1.500000
Morteza01766815        32       37     1.156250
Ehsanrostamipor         5        6     1.200000
f_shirzaie             60       79     1.316667

<a id='question09'></a>
### Average non_alpha

## Non_alpha counts

In [75]:
NA = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile('[^a-zA-Z]')
    l = len(re.findall(pattern, string))
    NA.append(l)
Non_alpha = pd.DataFrame(NA)
Non_alpha = Non_alpha.set_axis(["Non_alpha"], axis=1)
Non_alpha = pd.concat([df["text"], Non_alpha], axis=1)
Sample_Non_alpha = Non_alpha.sample(n=15)
Sample_Non_alpha

                                                    text  Non_alpha
42228  RT @Sonofthebeach98: @mah_sadeghi گه نخور بابا...         49
67207  @hfmahmoudi آیا همین فرمایش جنابعالی را نمی تو...        134
19467  RT @reza_abdipour: در فیسبوک چنین حسابی با نام...        126
51309       @shokranlellah00 @SabourYadollahi التماس دعا         16
44828  RT @gole_yass: امام خامنه ای حفظه الله :\nماه ...        130
1802   وقتی تو نود سالگی دنبال القاب و لقب میگردی htt...         48
4011                                    @IranianArts 😍😍😍          5
34737                                @Nafiseh_Isapour 😂😂          5
51455  @Maghatehrani سلام\nحاج آقا سه  دقیقه صحبت بند...        109
402    @Mirak_Ir از کجا می دانید این دو نفر با دم خرو...        100
56242  RT @Zir_O_Rou: اولین قانون مبارزه بر علیه جمهو...        112
47756   به سوی عشق\n#طریق_الحسین https://t.co/Ydl9MFh5SQ         31
66796                                    @DrEdvard بدجور          7
19064  @SoroushGheyb متأسفانه مودب نیستید\nحیف وقتی ک...         50
67453        @ll_Mersad_ll هرجایی بوی غربت علی بعد زهراس         33

## **average_nonalpha_per_original _tweet**

In [76]:
Total_OT_Non_alpha = pd.concat([df["username"], df['text'], T, Non_alpha['Non_alpha']], axis=1)

In [77]:
Total_OT_Non_alpha = Total_OT_Non_alpha[Total_OT_Non_alpha['Orginal Tweets']==1]
Groupby_OTNA = Total_OT_Non_alpha.groupby(['username']).sum()
Groupby_OTNA['per_original_tweet'] = (Groupby_OTNA['Non_alpha']/Groupby_OTNA['Orginal Tweets'])

Sample_Groupby_OTNA = Groupby_OTNA.sample(n=15)
Sample_Groupby_OTNA

                 Orginal Tweets  Non_alpha  per_original_tweet
username
hamsaye5                     25       1622           64.880000
dariusheee                    3        508          169.333333
hamidehabibi                 18       2942          163.444444
M5DYryIRGIlH1SP              38       6208          163.368421
itspersephoneh                7        606           86.571429
hamsayeh4                    49       9014          183.959184
mahtabyac                    37       6140          165.945946
javantangestani              20       3540          177.000000
shahbazialii                 15       1386           92.400000
nazi45286036                 13       1599          123.000000
ArvanCloud_fa                42       9164          218.190476
TayebehSiavash               11       3014          274.000000
m_dostam1381                 33       4667          141.424242
mardemordadi                  7        405           57.857143
Matinfar6                    36       3879          107.750000

## **average_nonalpha_per_reply**

In [78]:
Total_R_Non_alpha = pd.concat([df["username"], df['text'], M, Non_alpha['Non_alpha']], axis=1)

In [80]:
Total_R_Non_alpha = Total_R_Non_alpha[Total_R_Non_alpha['Mentions']==1]
Groupby_RNA = Total_R_Non_alpha.groupby(['username']).sum()
Groupby_RNA['per_Replies'] = (Groupby_RNA['Non_alpha']/Groupby_RNA['Mentions'])

Sample_Groupby_RNA = Groupby_RNA.sample(n=15)
Sample_Groupby_RNA

                 Mentions  Non_alpha  per_Replies
username
venous990              56       1517    27.089286
ali_rast_khadiv        88       2489    28.284091
nafas67kabiri          80       1433    17.912500
Kosar_taji128          84       2160    25.714286
Saba90022582           57       3723    65.315789
Javadask313            76       2129    28.013158
OERadikal29            19       3615   190.263158
bad_akhlagh            97       4572    47.134021
hamsaye5               34        718    21.117647
DrRezaAfshar            6        324    54.000000
shahin88888            51       2554    50.078431
alalebarani             5        285    57.000000
abo_karikot             5        328    65.600000
gole_sarpol            16        252    15.750000
farshaddelkhosh        89       3498    39.303371

## **average_nonalpha_per_retweet**

In [81]:
Total_RT_Non_alpha = pd.concat([df["username"], df['text'], RT, Non_alpha['Non_alpha']], axis=1)

In [82]:
Total_RT_Non_alpha = Total_RT_Non_alpha[Total_RT_Non_alpha['Retweets']==1]
Groupby_RTNA = Total_RT_Non_alpha.groupby(['username']).sum()
Groupby_RTNA['per_Retweet'] = (Groupby_RTNA['Non_alpha']/Groupby_RTNA['Retweets'])

Sample_Groupby_RTNA = Groupby_RTNA.sample(n=15)
Sample_Groupby_RTNA

                 Retweets  Non_alpha  per_Retweet
username
fap_ma                  8        722    90.250000
dariusheee             22       2454   111.545455
bachehporroo777         2        263   131.500000
fatemeh4135            40       4478   111.950000
baniasad_ir            10       1003   100.300000
Mkamalr2                1        132   132.000000
Leila_Arya             20       2374   118.700000
A_N_MOHTARAM            4        397    99.250000
carpediemtop           74       7200    97.297297
STUDENTISTS_ir          8       1010   126.250000
Iranncorg               1        283   283.000000
shahbazialii            3        227    75.666667
Bahar_Azadii           98      10015   102.193878
Contrapositiv_e         2        254   127.000000
tcyberi                84       8956   106.619048

<a id='question09'></a>
### Average punctuations

## **Punctuations counts**

In [83]:
P = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'[^\w\s]')
    l = len(re.findall(pattern, string))
    P.append(l)
Punctuations = pd.DataFrame(P)
Punctuations = Punctuations.set_axis(["Punctuations"], axis=1)
Punctuations = pd.concat([df["text"], Punctuations], axis=1)
Sample_Punctuations = Punctuations.sample(n=15)
Sample_Punctuations

                                                    text  Punctuations
19616                                   @mj_Khajevand 👌😔             3
53350  @kayvanabbassi دقیقا این شامل حال جنابعالی هم ...             2
11666  RT @pegahprivate: من یک زن هستم و چون شعور و ق...             6
31653  RT @ilirashWasTaken: چون همه‌چیز به‌هم میومد h...             9
7846   RT @babakazar: تریلر فیلم «۷۵۲ یک عدد نیست» سا...             7
40457  Vienna participants act &amp; react based on i...            10
37135  RT @paniranist_info: فیلمی از گشایش راه‌آهن سر...             6
45759  @A__azizpour @le_baran313 @sadeghZibakalam :))...            11
41273  دلم مثل یک سیاهچاله اس\nکه\nتمومم می کنه؛ \nهم...             6
44452  رسانه‌های معاند اون قدر بی‌حیثیت شدن که از سوگ...             8
37174  @KhanKuchek some kind of Yarvinite-Pahlavist s...            10
28203  RT @o_jafarian: مـقـام مـعـظـم رهـبـری مـعـتـق...             4
60854  @Noorzahra101 مرسی گلم \nحس توییتر نیس دیگ خیل...             1
44606                              @VidaSarafraz yema...             4
15901  رویترز مدعی شد: غرب در آژانس بین‌المللی انرژی ...             8

## **average_punctuation_per_original _tweet**

In [84]:
Total_OT_Punctuations = pd.concat([df["username"], df['text'], T, Punctuations['Punctuations']], axis=1)

In [85]:
Total_OT_Punctuations = Total_OT_Punctuations[Total_OT_Punctuations['Orginal Tweets']==1]
Groupby_OTP = Total_OT_Punctuations.groupby(['username']).sum()
Groupby_OTP['per_original_tweet'] = (Groupby_OTP['Punctuations']/Groupby_OTP['Orginal Tweets'])

Sample_Groupby_OTP = Groupby_OTP.sample(n=15)
Sample_Groupby_OTP

                 Orginal Tweets  Punctuations  per_original_tweet
username
bonnietariiin                12            74            6.166667
expromeizer                  11            57            5.181818
BehnamZarei21                33           310            9.393939
Javad69125790                25           101            4.040000
Sam1Kia                      48           315            6.562500
CoolRad2                      9            72            8.000000
roshangarnasl                30           200            6.666667
Baharazadi2020               35           265            7.571429
BaghdadPostFrsi             100          1215           12.150000
farshaddelkhosh               9            60            6.666667
reginabuffey                  2            15            7.500000
Lion_Azi                     33           346           10.484848
samieealireza1                8            35            4.375000
FallahReihaneh               64           686           10.718750
ramtin5790asli                7            41            5.857143

## **average_punctuation_per_reply**

In [86]:
Total_R_Punctuations = pd.concat([df["username"], df['text'], M, Punctuations['Punctuations']], axis=1)

In [87]:
Total_R_Punctuations = Total_R_Punctuations[Total_R_Punctuations['Mentions']==1]
Groupby_RP = Total_R_Punctuations.groupby(['username']).sum()
Groupby_RP['per_Replies'] = (Groupby_RP['Punctuations']/Groupby_RP['Mentions'])

Sample_Groupby_RP = Groupby_RP.sample(n=15)
Sample_Groupby_RP

                 Mentions  Punctuations  per_Replies
username
r_abtahi               34            60     1.764706
ghazeyekpa             85           431     5.070588
adamipari888           57           196     3.438596
zhfra_10               44            84     1.909091
ajab_baba_ajab         99           174     1.757576
Khojastehhasan1        52           181     3.480769
Behrooz_tt             84           156     1.857143
S_M_Hosseini_S         77           224     2.909091
monadiMajid1           20            56     2.800000
saina39                78           170     2.179487
tarlanbitaraf          35           126     3.600000
hoseintk07             16           115     7.187500
tohidian               57           258     4.526316
GhazalGolshiri         26           232     8.923077
Rahyab4                 5            38     7.600000

## **average_punctuation_per_retweet**

In [88]:
Total_RT_Punctuations = pd.concat([df["username"], df['text'], RT, Punctuations['Punctuations']], axis=1)

In [90]:
Total_RT_Punctuations = Total_RT_Punctuations[Total_RT_Punctuations['Retweets']==1]
Groupby_RTP = Total_RT_Punctuations.groupby(['username']).sum()
Groupby_RTP['per_Retweet'] = (Groupby_RTP['Punctuations']/Groupby_RTP['Retweets'])

Sample_Groupby_RTP = Groupby_RTP.sample(n=15)
Sample_Groupby_RTP

                Retweets  Punctuations  per_Retweet
username
aznakhabar313         64           538     8.406250
0diiiiin               4            21     5.250000
MiladShokrkhah         2            23    11.500000
naderitwt             23           160     6.956522
Bertulucii            26           186     7.153846
Iranncorg              1            18    18.000000
salmaneshoon          12            83     6.916667
sama_akn               3            24     8.000000
__MOZAFARI__          57           404     7.087719
The_hossein_          14            93     6.642857
bano_bahar78           8            77     9.625000
FArAnAk__A_f          92           657     7.141304
Behrooz_tt             4            26     6.500000
RFJ_Persian            2            19     9.500000
habira1317            92           709     7.706522

<a id='question09'></a>
### Average meaningful punctuations

## **meaningful punctuations counts**

In [96]:
MEP = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'\..., \!?, \???, \!!!')
    l = len(re.findall(pattern, string))
    MEP.append(l)
Meaningful_P = pd.DataFrame(MEP)
Meaningful_P = Meaningful_P.set_axis(["Meaningful_P"], axis=1)
Meaningful_P = pd.concat([df["text"], Meaningful_P], axis=1)
Sample_Meaningful_P = Meaningful_P.sample(n=15)
Sample_Meaningful_P

                                                    text  Meaningful_P
51767  RT @ARDESHIR003: دیر بیدار بشیم ، تا ابد باید ...             0
12977  یک پسر میداند چیزی را که میخواهد چگونه بدست آو...             0
8864   RT @syjebraily1: این مقاله با تحلیل نظرسنجی دا...             0
62037  @Sohabano83 در این شب های عزیز ما را از دعای خ...             0
22167  RT @yazdxn: اون روزی که پوست صورتم بفهمه خیلی ...             0
42434  سال هاست خانوادگی هیأتی که \nدر بطن عزاداری و ...             0
16604                              @RFZMMM چی شده کی هست             0
52958  RT @masoud_bazmara: به آخوند قهوه ندادی احساس ...             0
27397  RT @u_zarcif: فقط منم که چایی رو با تفاله زیاد...             0
61638                                     @Sepah_Com 🦴🦴🦴             0
57630  @misdoki_ir شما خانم ها خیلی مواظب باشید سعی ک...             0
35414                            چند سالت بود که فهمیدی؟             0
38026  RT @faaarzan: سوپر انقلابی ها که خودرا صاحب نظ...             0
36556                                  @sasai_w نمیشه خب             0
60194                   ای بزرگ همه، نوزاد اباعبدالله...             0

## **average_meaningful_punctuation_per_original _tweet**

In [97]:
Total_OT_Meaningful_P = pd.concat([df["username"], df['text'], T, Meaningful_P['Meaningful_P']], axis=1)

In [98]:
Total_OT_Meaningful_P = Total_OT_Meaningful_P[Total_OT_Meaningful_P['Orginal Tweets']==1]
Groupby_OTMEP = Total_OT_Meaningful_P.groupby(['username']).sum()
Groupby_OTMEP['per_original_tweet'] = (Groupby_OTMEP['Meaningful_P']/Groupby_OTMEP['Orginal Tweets'])

Sample_Groupby_OTMEP = Groupby_OTMEP.sample(n=15)
Sample_Groupby_OTMEP

                 Orginal Tweets  Meaningful_P  per_original_tweet
username
Amirhossein_b96              32             0                 0.0
ELfarhadiniho                 1             0                 0.0
m_karimib                    24             0                 0.0
zbehbood                     40             0                 0.0
salmaneshoon                 11             0                 0.0
aasshraaff                    1             0                 0.0
venus48527670                13             0                 0.0
King__a2                      5             0                 0.0
montazer_76                  49             0                 0.0
iminfuckinpain               23             0                 0.0
Mehrshot                     42             0                 0.0
AliNasrollahi97              16             0                 0.0
hamedaskari777               32             0                 0.0
mahsa_saraban                 6             0                 0.0
MahnazShirali                13             0                 0.0

## **average_meaningful_punctuation_per_reply**

In [100]:
Total_R_Meaningful_P = pd.concat([df["username"], df['text'], M, Meaningful_P['Meaningful_P']], axis=1)

In [101]:
Total_R_Meaningful_P = Total_R_Meaningful_P[Total_R_Meaningful_P['Mentions']==1]
Groupby_RMEP = Total_R_Meaningful_P.groupby(['username']).sum()
Groupby_RMEP['per_Replies'] = (Groupby_RMEP['Meaningful_P']/Groupby_RMEP['Mentions'])

Sample_Groupby_RMEP = Groupby_RMEP.sample(n=15)
Sample_Groupby_RMEP

                 Mentions  Meaningful_P  per_Replies
username
azademard              34             0          0.0
nafas67kabiri          80             0          0.0
mr_golestani           76             0          0.0
ch_paradise25          65             0          0.0
RetardedShaman         70             0          0.0
Amirhossein_b96        61             0          0.0
2nya_2nya              38             0          0.0
Monirrfp                4             0          0.0
hamedaskari777         66             0          0.0
chipsikolang           43             0          0.0
I_am__man              62             0          0.0
Illusionaholic         50             0          0.0
aliiireza_             72             0          0.0
banoohosnaa            91             0          0.0
Tahahasani5            39             0          0.0

## **average_meaningful_punctuation_per_retweet**

In [102]:
Total_RT_Meaningful_P = pd.concat([df["username"], df['text'], RT, Meaningful_P['Meaningful_P']], axis=1)

In [103]:
Total_RT_Meaningful_P = Total_RT_Meaningful_P[Total_RT_Meaningful_P['Retweets']==1]
Groupby_RTMEP = Total_RT_Meaningful_P.groupby(['username']).sum()
Groupby_RTMEP['per_Retweet'] = (Groupby_RTMEP['Meaningful_P']/Groupby_RTMEP['Retweets'])

Sample_Groupby_RTMEP = Groupby_RTMEP.sample(n=15)
Sample_Groupby_RTMEP

                 Retweets  Meaningful_P  per_Retweet
username
FsHossseini             6             0          0.0
farzaam                25             0          0.0
ali_rast_khadiv         8             0          0.0
rezashah70             27             0          0.0
ParthianE              62             0          0.0
Samaneh9_4             85             0          0.0
Behrooz_tt              4             0          0.0
KMZ1210                16             0          0.0
yazahra31310           42             0          0.0
Sara72850425           17             0          0.0
DrRezaAfshar            6             0          0.0
moosaravandi            1             0          0.0
MazyarBaalaei           1             0          0.0
ELfarhadiniho          85             0          0.0
sharab_nab             17             0          0.0

<a id='question09'></a>
### Average urls

In [104]:
U = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)')
    l = len(re.findall(pattern, string))
    U.append(l)
Urls = pd.DataFrame(U)
Urls = Urls.set_axis(["Urls"], axis=1)
Urls = pd.concat([df["text"], Urls], axis=1)
Sample_Urls = Urls.sample(n=15)
Sample_Urls

                                                    text  Urls
64409  RT @nrgs_pak: 🌹زائرین کربلا امام زمان را دریاب...     1
62659                                   @mahdisesham 😂😂😂     0
4028   @mr_batelgo عکس دستمه خنده نداره گریه داره تازه😭😭     0
57255  با اعلام کاندیداهای ریاست جمهوری، به نظر می رس...     0
43158  اکبر هاشمی رفسنجانی درباره انتخابات ریاست‌جمهو...     3
43517  RT @hCe2KHDENYF3Wia: @haj_haydar خودش جسم ناقص...     0
34540      همین ، امتحانش مجانیه https://t.co/farwRRgYnn     1
12066                             Do you see this tweet?     0
32318  RT @setiyase83: إِنَّا لِلَّهِ وَإِنَّا إِلَیْ...     1
53061  @khosroanjom_m بیام کمک؟ بد نوکری نمی‌کنم، کم ...     0
62011  آقا همه کربلا نرفته‌ها رو برای اربعین سال بعد ...     0
39834  RT @amiram57: صبحتون بخیر\n\nدلتون شاد\n\nنونت...     1
57715      @DreamnRose ماست یا دوغ\nبدون ماست اصلا نمیشه     0
29913  مقام معظم رهبری: شروع جاذبه مغناطیس حسینی ، در...     0
20453  RT @adili_ali: همدیگه رو هم فالو کنید\n#Khamen...     0

## **average_urls_per_original _tweet**

In [105]:
Total_OT_Urls = pd.concat([df["username"], df['text'], T, Urls['Urls']], axis=1)

In [107]:
Total_OT_Urls = Total_OT_Urls[Total_OT_Urls['Orginal Tweets']==1]
Groupby_OTU = Total_OT_Urls.groupby(['username']).sum()
Groupby_OTU['per_original_tweet'] = (Groupby_OTU['Urls']/Groupby_OTU['Orginal Tweets'])

Sample_Groupby_OTU = Groupby_OTU.sample(n=15)
Sample_Groupby_OTU

                Orginal Tweets  Urls  per_original_tweet
username
tohidian                    19    11            0.578947
OILIONEL66                   5     3            0.600000
marjan_NY                   25     4            0.160000
IamZeus6                    48    46            0.958333
Nima_Gh1980                 69    18            0.260870
Ehsanbakhsh110              15    10            0.666667
mahtab6623                  43     4            0.093023
GhazalGolshiri               6     4            0.666667
barbadshodeh                27     7            0.259259
Ayro2020                     7     1            0.142857
Nationalist101              10     7            0.700000
CENTCOMFarsi                96   103            1.072917
abo_karikot                  1     1            1.000000
hssein66                    19     8            0.421053
mmasiha                     44    21            0.477273

## **average_urls_per_reply**

In [108]:
Total_R_Urls = pd.concat([df["username"], df['text'], M, Urls['Urls']], axis=1)

In [110]:
Total_R_Urls = Total_R_Urls[Total_R_Urls['Mentions']==1]
Groupby_RU = Total_R_Urls.groupby(['username']).sum()
Groupby_RU['per_Replies'] = (Groupby_RU['Urls']/Groupby_RU['Mentions'])

Sample_Groupby_RU = Groupby_RU.sample(n=15)
Sample_Groupby_RU

               Mentions  Urls  per_Replies
username
Mardetanha           54     1     0.018519
MajidKasiri          59     9     0.152542
ABAN_DOKHT64         76     0     0.000000
RadioZamaneh          3     3     1.000000
legendcyber02        86    37     0.430233
Mehrshot             56     0     0.000000
heydari_media        22     0     0.000000
tarlanbitaraf        35     1     0.028571
MehrPrs              88     4     0.045455
negari_1             75    24     0.320000
ninianomada          43     0     0.000000
mahtab6623           21     1     0.047619
AylinFarin           88     9     0.102273
mh_rahbari1          50     7     0.140000
m_karimib            55     3     0.054545

## **average_urls_per_retweet**

In [109]:
Total_RT_Urls = pd.concat([df["username"], df['text'], RT, Urls['Urls']], axis=1)

In [111]:
Total_RT_Urls = Total_RT_Urls[Total_RT_Urls['Retweets']==1]
Groupby_RTU = Total_RT_Urls.groupby(['username']).sum()
Groupby_RTU['per_Retweet'] = (Groupby_RTU['Urls']/Groupby_RTU['Retweets'])

Sample_Groupby_RTU = Groupby_RTU.sample(n=15)
Sample_Groupby_RTU

                 Retweets  Urls  per_Retweet
username
iwasTaha               49    22     0.448980
nikikazemii            14     5     0.357143
Nicho6_9               33     8     0.242424
IazadAl                67     7     0.104478
AkramHeydary           37    11     0.297297
jumanjisms             82    36     0.439024
yousef_heidari          6     1     0.166667
EmadBorghei            16     1     0.062500
dokhtar_aban25          8     1     0.125000
ELfarhadiniho          85    37     0.435294
mr__zolfaghari         10     1     0.100000
shayan_shahnazi        15     2     0.133333
Mirmina5               15     3     0.200000
Mardetanha             10     1     0.100000
Nadereslamipoor        43     7     0.162791

<a id='question09'></a>
### Average spaces

## Spaces counts

In [112]:
Sp = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(' +')
    l = len(re.findall(pattern, string))
    Sp.append(l)
Spaces = pd.DataFrame(Sp)
Spaces = Spaces.set_axis(["Spaces"], axis=1)
Spaces = pd.concat([df["text"], Spaces], axis=1)
Sample_Spaces = Spaces.sample(n=15)
Sample_Spaces

                                                    text  Spaces
27156  کره جنوبی با آمریکا 25 ساله بست.\nکره شمالی با...      10
33304  RT @BBabaeyan: فریادهای زده نشده، یواش یواش،چی...      12
54215  ایرپادز پرو جدید در رویداد ۱۶ شهریور معرفی ‌می...      45
9577   دادگاه انقلاب تهران؛ #پروین_محمدی، #فعال_کارگر...      17
29470  این درها برایمان یادآور غربت بقیع اند.\nممانعت...      46
69185  RT @hojjat_kalashi: @amiretemadi @hassansharia...      19
14563       @MGH_20O1 @IaminMoud @erfius1 خیلی جالب بود!       5
14848  به رغم مدعیانی که منع عشق کنند \nجمال چهره تو ...      14
41383  @mojtabakarimi_ ایشالا اگه حرف با ارزشی داشته ...      18
68109              @BabakMina چه زود ما رو فروختی رفیق 😉       7
2012   RT @IranIntl: محسن سازگارا، عضو شورای مدیریت گ...      14
68836  RT @Hdoost77: سعی کنیم قهرمان بزرگمان امام حسی...      17
7285   ادای احترام استان شهید پرور و ولایتی اصفهان به...      15
261    RT @JananKhorram: این حاجی فیروز،حکایت مردم ما...      21
43650        @MaryamMoqaddam ای وای من بمیرم برای این زن       7

## **average_spaces_per_original _tweet**

In [116]:
Total_OT_Spaces = pd.concat([df["username"], df['text'], T, Spaces['Spaces']], axis=1)

In [117]:
Total_OT_Spaces = Total_OT_Spaces[Total_OT_Spaces['Orginal Tweets']==1]
Groupby_OTSe = Total_OT_Spaces.groupby(['username']).sum()
Groupby_OTSe['per_original_tweet'] = (Groupby_OTSe['Spaces']/Groupby_OTSe['Orginal Tweets'])

Sample_Groupby_OTSe = Groupby_OTSe.sample(n=15)
Sample_Groupby_OTSe

                Orginal Tweets  Spaces  per_original_tweet
username
_Vendetta____               23     136            5.913043
Ayro2020                     7     211           30.142857
Monirrfp                     2      31           15.500000
venous990                    8      61            7.625000
Elham_twt                   13     210           16.153846
EhsanAbedi                  38    1439           37.868421
MARQ_DS                      4     124           31.000000
rezaolfatnasab               9     439           48.777778
jumanjisms                   2       5            2.500000
barbadshodeh                27     256            9.481481
sama_akn                    20     306           15.300000
abo_karikot                  1       5            5.000000
watoowatooo                 34     664           19.529412
MSarlati                     2      31           15.500000
Baharazadi2020              35     761           21.742857

## **average_spaces_per_reply**

In [113]:
Total_R_Spaces = pd.concat([df["username"], df['text'], M, Spaces['Spaces']], axis=1)

In [118]:
Total_R_Spaces = Total_R_Spaces[Total_R_Spaces['Mentions']==1]
Groupby_RSe = Total_R_Spaces.groupby(['username']).sum()
Groupby_RSe['per_Replies'] = (Groupby_RSe['Spaces']/Groupby_RSe['Mentions'])

Sample_Groupby_RSe = Groupby_RSe.sample(n=15)
Sample_Groupby_RSe

                 Mentions  Spaces  per_Replies
username
pink_roses2015          6      32     5.333333
barbadshodeh           53     334     6.301887
PahlaviReza             5     180    36.000000
CheraghiNima           30     237     7.900000
Bidar18121403          22     387    17.590909
Oliver_jzy             67    1334    19.910448
farshidfarzan           1       8     8.000000
mr00022                20     255    12.750000
Shahriaran_            69     880    12.753623
tahminediba            16     214    13.375000
Xaaver10               81    1505    18.580247
nadersohrabi66         59     369     6.254237
ehsanarkani_ir         60    1297    21.616667
aghayefarhangi         11     124    11.272727
MehdiFaizysefat        53     699    13.188679

## **average_spaces_per_retweet**

In [114]:
Total_RT_Spaces = pd.concat([df["username"], df['text'], RT, Spaces['Spaces']], axis=1)

In [119]:
Total_RT_Spaces = Total_RT_Spaces[Total_RT_Spaces['Retweets']==1]
Groupby_RTSe = Total_RT_Spaces.groupby(['username']).sum()
Groupby_RTSe['per_Retweet'] = (Groupby_RTSe['Spaces']/Groupby_RTSe['Retweets'])

Sample_Groupby_RTSe = Groupby_RTSe.sample(n=15)
Sample_Groupby_RTSe

                 Retweets  Spaces  per_Retweet
username
bolandihaybadgi         2      37    18.500000
tanhayekshahab         83    1571    18.927711
alirezakiani2          14     309    22.071429
sharifdavrishe         12     225    18.750000
varan_iran             55     880    16.000000
NBJacobssonn           10     208    20.800000
r_abtahi               17     358    21.058824
2Bender                 5      94    18.800000
homayoun2019           22     434    19.727273
Ayro2020                1       1     1.000000
zola890                 1      19    19.000000
8094Majhol             52     985    18.942308
Angel_b_89              9     179    19.888889
parniab                 7     142    20.285714
oomidam                 9     108    12.000000

<a id='question09'></a>
### Average numbers

## **Numbers counts**

In [120]:
Di = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'\d')
    l = len(re.findall(pattern, string))
    Di.append(l)
Numbers = pd.DataFrame(Di)
Numbers = Numbers.set_axis(["Numbers"], axis=1)
Numbers = pd.concat([df["text"], Numbers], axis=1)
Sample_Numbers = Numbers.sample(n=15)
Sample_Numbers

                                                    text  Numbers
5358   کاهش 75 درصدی #اهدای_عضو در کشور پس از پخش یک ...        4
20994                                 @MhmdMahdi099 :)))        3
66530                                     @RealHossRas 😂        0
38019  RT @HjtNjfy: خدا دین مرا با مهر او اندازه می گ...        0
3914                                      سلام به تعطیلا        0
52637  RT @h_valayat5535: گوشه ای از جنایات شیطان پیر...        4
8881   @drjahanpur تو فقط یه آمارخونی \nهمین\nدور ورت...        0
63817                    @Nima9924 @deyac00oo1 همچنین🌹🌹❣        7
17558  اونایی که قضاوت کردید و راجع بهشون بد گفتید......        2
18520  بسم الله القاصم الجبارین\nهر روز و شب منتظر شن...        2
8487   RT @FAOIran: The effects of the pandemic are a...        0
22087  @bahar__iraniii امیدوارم هرچه زودتر حالت خوب ب...        0
39451  #شهید #ماکو\nhttps://t.co/XmtqVU7TUc https://t...        1
38143                               @alone_artman تشکرات        0
53029  RT @farvardin0759: 🔴یک برنده از جنگ در اوکراین...        4

## **average_numbers_per_original _tweet**

In [121]:
Total_OT_Numbers = pd.concat([df["username"], df['text'], T, Numbers['Numbers']], axis=1)

In [122]:
Total_OT_Numbers = Total_OT_Numbers[Total_OT_Numbers['Orginal Tweets']==1]
Groupby_OTDi = Total_OT_Numbers.groupby(['username']).sum()
Groupby_OTDi['per_original_tweet'] = (Groupby_OTDi['Numbers']/Groupby_OTDi['Orginal Tweets'])

Sample_Groupby_OTDi = Groupby_OTDi.sample(n=15)
Sample_Groupby_OTDi

                 Orginal Tweets  Numbers  per_original_tweet
username
sheykholtabib                10        6            0.600000
Monirrfp                      2        0            0.000000
GhazalGolshiri                6       22            3.666667
bad_akhlagh                   3        9            3.000000
MrDariushZand                42      105            2.500000
IranianCongress             100      382            3.820000
Saba90022582                  8       19            2.375000
AsbeAtash45                   5        7            1.400000
Bimaryam1                    21       27            1.285714
a_sharareh                   40       57            1.425000
M_Hajarr                     18       27            1.500000
amir_zaeimian                29       59            2.034483
SP_Alavi                     17       26            1.529412
niloufar2017                 53      103            1.943396
Ahmad01359                    5        4            0.800000

## **average_numbers_per_reply**

In [123]:
Total_R_Numbers = pd.concat([df["username"], df['text'], M, Numbers['Numbers']], axis=1)

In [126]:
Total_R_Numbers = Total_R_Numbers[Total_R_Numbers['Mentions']==1]
Groupby_RDi = Total_R_Numbers.groupby(['username']).sum()
Groupby_RDi['per_Replies'] = (Groupby_RDi['Numbers']/Groupby_RDi['Mentions'])

Sample_Groupby_RDi = Groupby_RDi.sample(n=15)
Sample_Groupby_RDi

                 Mentions  Numbers  per_Replies
username
neptunegalaxy21         2        0     0.000000
Apssiss                78      157     2.012821
Elahe05305421          67      178     2.656716
NEJAT_COM2              2       14     7.000000
usernaomid             33       73     2.212121
samieealireza1         89      105     1.179775
cheguevarasis          65      124     1.907692
shahrokh___            61       48     0.786885
Simin_7e               71       39     0.549296
DehkordiMaryam         65      119     1.830769
Riazdanesh              3        4     1.333333
Milad_Aghai1           52      107     2.057692
vali_e_faghih          58      117     2.017241
SocialTelescop         42       53     1.261905
MehdiNabiyan           60      208     3.466667

## **average_numbers_per_retweet**

In [124]:
Total_RT_Numbers = pd.concat([df["username"], df['text'], RT, Numbers['Numbers']], axis=1)

In [127]:
Total_RT_Numbers = Total_RT_Numbers[Total_RT_Numbers['Retweets']==1]
Groupby_RTDi = Total_RT_Numbers.groupby(['username']).sum()
Groupby_RTDi['per_Retweet'] = (Groupby_RTDi['Numbers']/Groupby_RTDi['Retweets'])

Sample_Groupby_RTDi = Groupby_RTDi.sample(n=15)
Sample_Groupby_RTDi

                Retweets  Numbers  per_Retweet
username
Tahahasani5           33       73     2.212121
Sh7gh7y7gh            68      143     2.102941
venous990             36      140     3.888889
laleh65f              74      225     3.040541
homayoun2019          22       55     2.500000
DehkordiMaryam        14       22     1.571429
minion7309            21       40     1.904762
oomidam                9       18     2.000000
tub67                  3        5     1.666667
endebonbast           20       30     1.500000
DaeeHassan            23       45     1.956522
shahin88888           43       67     1.558140
MajidKasiri            2        9     4.500000
_kamy1400             13       35     2.692308
SFH65728393           93      179     1.924731

<a id='question09'></a>
### Average elongation

## **Elongation counts**

In [128]:
EL = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r"(.)\1{2}")
    l = len(re.findall(pattern, string))
    EL.append(l)
Elongation = pd.DataFrame(EL)
Elongation = Elongation.set_axis(["Elongation"], axis=1)
Elongation = pd.concat([df["text"], Elongation], axis=1)
Sample_Elongation = Elongation.sample(n=15)
Sample_Elongation

                                                    text  Elongation
68292                                @sahandsti احسنت 😁👌           0
34504  RT @meysammotiee1: می‌نشاند بر لب عشاق تو لبخن...           0
36218  RT @paniranist_info: حجت کلاشی: #محمدرضا_شاه پ...           0
69204  RT @thetwelfth_Imam: بسته پیشنهادی برای عزیزان...           0
1644   @Ali_Mahbod حالم به هم خورد!!!\nاین احمقا دیگه...           2
70606  @ChamranBuye @dr_abdolmaleki در فاز بعدی بزودی...           0
10912  بالاخره یه روز میرسه نوبت ما میشه اون روز تک ت...           0
55634  ما در دورانی زندگی میکنیم که مراسم خاک سپاری ع...           0
47240            @marya13591 @prolter995 ان شاالله......           2
64231               #LiteracyDay https://t.co/czLjdWtZCn           0
16869  @bbckalbasi ترامپ که از توافق برجام خارج شد رئ...           0
10846                     @haLLdini3_3 كاش من دربى برم 🤩           0
62558  RT @MHozeh: بزرگواران، حالا چه ذیل توئیت من چه...           0
69477                                     @rezahajilou 🤣           0
29192  RT @Baranaryaee2: خاک برسرمون که کاری نمیتونیم...           1

## **average_elongation_per_original _tweet**

In [129]:
Total_OT_Elongation = pd.concat([df["username"], df['text'], T, Elongation['Elongation']], axis=1)

In [130]:
Total_OT_Elongation = Total_OT_Elongation[Total_OT_Elongation['Orginal Tweets']==1]
Groupby_OTEL = Total_OT_Elongation.groupby(['username']).sum()
Groupby_OTEL['per_original_tweet'] = (Groupby_OTEL['Elongation']/Groupby_OTEL['Orginal Tweets'])

Sample_Groupby_OTEL = Groupby_OTEL.sample(n=15)
Sample_Groupby_OTEL

                 Orginal Tweets  Elongation  per_original_tweet
username
azadsharifi                  11           1            0.090909
baamshad                     39           2            0.051282
J1nne                        22           4            0.181818
seyyed_Alii                  16           3            0.187500
FENDI2018F                    2           0            0.000000
ninianomada                  41           0            0.000000
DrRezaAfshar                 88          40            0.454545
Parastoo725                  39          46            1.179487
Ehsanbakhsh110               15           1            0.066667
Hadi_hadi_79                 16           3            0.187500
Kairan_n                      7           0            0.000000
gole_sarpol                  79          42            0.531646
hafezeh_tarikhi              95           5            0.052632
Reza8410                     32           6            0.187500
ma_vakili                    99           8            0.080808

## **average_elongation_per_reply**

In [131]:
Total_R_Elongation = pd.concat([df["username"], df['text'], M, Elongation['Elongation']], axis=1)

In [132]:
Total_R_Elongation = Total_R_Elongation[Total_R_Elongation['Mentions']==1]
Groupby_REL = Total_R_Elongation.groupby(['username']).sum()
Groupby_REL['per_Replies'] = (Groupby_REL['Elongation']/Groupby_REL['Mentions'])

Sample_Groupby_REL = Groupby_REL.sample(n=15)
Sample_Groupby_REL

                 Mentions  Elongation  per_Replies
username
sisypheh_hm            50          11     0.220000
Mr_pashmaki65          65          26     0.400000
Najafi_h_r             12           0     0.000000
salimklnr              69          16     0.231884
Elham_twt              57          14     0.245614
imahla_sh             100          51     0.510000
EtemadOnline           12           0     0.000000
lls_k_shll             66          12     0.181818
meysamamam             81          17     0.209877
Javad69125790          74           5     0.067568
_MarMari_             100          41     0.410000
11o_nim                82          22     0.268293
kaBR5dhvNRhJSs3        14           0     0.000000
katy202010             32           1     0.031250
iwasTaha               10           0     0.000000

## **average_elongation_per_retweet**

In [133]:
Total_RT_Elongation = pd.concat([df["username"], df['text'], RT, Elongation['Elongation']], axis=1)

In [134]:
Total_RT_Elongation = Total_RT_Elongation[Total_RT_Elongation['Retweets']==1]
Groupby_RTEL = Total_RT_Elongation.groupby(['username']).sum()
Groupby_RTEL['per_Retweet'] = (Groupby_RTEL['Elongation']/Groupby_RTEL['Retweets'])

Sample_Groupby_RTEL = Groupby_RTEL.sample(n=15)
Sample_Groupby_RTEL

                 Retweets  Elongation  per_Retweet
username
Yazahra207             77          23     0.298701
moein_kh               67           6     0.089552
zarkan_yosef           86          10     0.116279
ArashGir               12           2     0.166667
saaana_68              54          27     0.500000
jafaritwt              35           1     0.028571
mahdi_meshkini         28           6     0.214286
parsafatehi             4           1     0.250000
SaeedehMoayedi         11           0     0.000000
Nastara99638495        69          12     0.173913
s_m_arabi              18           0     0.000000
rhbiti                  1           0     0.000000
shahin88888            43          10     0.232558
Leily6240               8           3     0.375000
Roohallah741128        63          13     0.206349

<a id='question09'></a>
### Common tokens

In [ ]:
#Leave the answer of question here!

## **common_tokens_per_original_tweet**

In [144]:
Total_orginal_Tweets = Total_orginal_Tweets[Total_orginal_Tweets['Orginal Tweets']==1]
Groupby_OT = Total_orginal_Tweets.groupby(['username']).sum()
#Groupby_OT['per_original_tweet'] = round(Groupby_OT['tokenized_number']/Groupby_OT['Orginal Tweets'])
Groupby_OT.sort_values(by=['tokenized_number'], ascending=False).head(1)
#Groupby_OT
#Sample_Groupby_OT = Groupby_OT.sample(n=15)
#Sample_Groupby_OT

           Orginal Tweets  tokenized_number
username
siamak087              99              5059

## **common_tokens_per_reply**

In [147]:
Total_Replies = Total_Replies[Total_Replies['Mentions']==1]
Groupby_R_T = Total_Replies.groupby(['username']).sum()
Groupby_R_T.sort_values(by=['tokenized_number'], ascending=False).head(1)

               Mentions  tokenized_number
username
khano_ombahar        93              3026

## **common_tokens_per_retweet**

In [148]:
Total_Retweets = Total_Retweets[Total_Retweets['Retweets']==1]
Groupby_RT_T = Total_Retweets.groupby(['username']).sum()
Groupby_RT_T.sort_values(by=['tokenized_number'], ascending=False).head(1)

                Retweets  tokenized_number
username
s_somaye_h_123        90              2125

<a id='question09'></a>
### Common hashtags

## **common_hashtags_per_original_tweet**

In [149]:
Total_OT_Hashtagh = Total_OT_Hashtagh[Total_OT_Hashtagh['Orginal Tweets']==1]
Groupby_OTH = Total_OT_Hashtagh.groupby(['username']).sum()
Groupby_OTH.sort_values(by=['Hashtag'], ascending=False).head(1)

                Orginal Tweets  Hashtag
username
PhoenixprjIran              82      570

## **common_hashtags_per_reply**

In [151]:
Total_R_Hashtagh = Total_R_Hashtagh[Total_R_Hashtagh['Mentions']==1]
Groupby_RH = Total_R_Hashtagh.groupby(['username']).sum()
Groupby_RH.sort_values(by=['Hashtag'], ascending=False).head(1)

           Mentions  Hashtag
username
Iranncorg        31      241

## **common_hashtags_per_retweet**

In [153]:
Total_RT_Hashtagh = Total_RT_Hashtagh[Total_RT_Hashtagh['Retweets']==1]
Groupby_RTH = Total_RT_Hashtagh.groupby(['username']).sum()
Groupby_RTH.sort_values(by=['Hashtag'], ascending=False).head(1)

            Retweets  Hashtag
username
UNICTehran        96      130

<a id='question09'></a>
### Common emojis

## **common_emojis_per_original_tweet**

In [154]:
Total_OT_Emojis = Total_OT_Emojis[Total_OT_Emojis['Orginal Tweets']==1]
Groupby_OTE = Total_OT_Emojis.groupby(['username']).sum()
Groupby_OTE.sort_values(by=['Emojis'], ascending=False).head(1)

              Orginal Tweets  Emojis
username
EtemadOnline              88     326

## **common_emojis_per_reply**

In [156]:
Total_R_Emojis = Total_R_Emojis[Total_R_Emojis['Mentions']==1]
Groupby_RE = Total_R_Emojis.groupby(['username']).sum()
Groupby_RE.sort_values(by=['Emojis'], ascending=False).head(1)

           Mentions  Emojis
username
ngn991220        71     333

## **common_emojis_per_retweet**

In [157]:
Total_RT_Emojis = Total_RT_Emojis[Total_RT_Emojis['Retweets']==1]
Groupby_RTE = Total_RT_Emojis.groupby(['username']).sum()
Groupby_RTE.sort_values(by=['Emojis'], ascending=False).head(1)

           Retweets  Emojis
username
Sadaf1363       100      92

<a id='question09'></a>
### Common smilies



```
# This is formatted as code
```

## **common_smilies_per_original_tweet**

In [158]:
Total_OT_Smilies = Total_OT_Smilies[Total_OT_Smilies['Orginal Tweets']==1]
Groupby_OTS = Total_OT_Smilies.groupby(['username']).sum()
Groupby_OTS.sort_values(by=['Smilies'], ascending=False).head(1)

                 Orginal Tweets  Smilies
username
hafezeh_tarikhi              95      246

## **common_smilies_per_reply**

In [159]:
Total_R_Smilies = Total_R_Smilies[Total_R_Smilies['Mentions']==1]
Groupby_RS = Total_R_Smilies.groupby(['username']).sum()
Groupby_RS.sort_values(by=['Smilies'], ascending=False).head(1)

           Mentions  Smilies
username
kampainhr        54      163

## **common_smilies_per_retweet**

In [161]:
Total_RT_Smilies = Total_RT_Smilies[Total_RT_Smilies['Retweets']==1]
Groupby_RTS = Total_RT_Smilies.groupby(['username']).sum()
Groupby_RTS.sort_values(by=['Smilies'], ascending=False).head(1)

           Retweets  Smilies
username
Sadaf1363       100      181

<a id='question09'></a>
### Type_token_ratio

## **Type_token_ratio counts**

In [172]:
TOK2 = []
for i in range(70610):
    string = (str(df.loc[i,"new_Text"]))
    Tok = set(string)
    l = len(Tok)
    TOK2.append(l)
tokenized2 = pd.DataFrame(TOK2)
tokenized2 = tokenized2.set_axis(["tokenized2"], axis=1)
tokenized2 = pd.concat([df["new_Text"], tokenized2], axis=1)

Sample_tokenized2 = tokenized2.sample(n=15)
Sample_tokenized2

                                                new_Text  tokenized2
60836  <menrep> اینجوری هم نیس ک راضی نشه ب هر حال می...          24
26787                             ما مثل هم نیستیم <url>          15
60313  <menrep> <menrep> همچین می گی ناکارآمد انگار ا...          23
67968                                     <menrep> تبریک          13
16847                               <menrep> خواهش میکنم          17
36850   عدم آموزش کادر درمان فاجعه می آفریند <number>...          33
38090                                   <menrep> <emoji>          11
59415  ضدعفونی معابرعمومی سطح شهر صحنه برعلیه ویروس ک...          31
30458                        <menrep> حس دکترو درک میکنم          18
56998                              <menrep> تمیزش میکنیم          15
40271                                     <menrep> <url>          10
5878   <menrep> نه خانوم خراب چیه آدم نباید بدنشو این...          27
11773  اولین اخر هفتم در مونترال فکر کنم تا مدت ها به...          28
5803   عملیات عین_الاسد آغازی برای الثار است که هزارا...          22
3509                                           <menrep>            8

## **type_token_ratio_per_original_tweet**

In [173]:
Total_OT_tokenized2 = pd.concat([df["username"], df['new_Text'], T, tokenized2['tokenized2']], axis=1)

In [174]:
Total_OT_tokenized2 = Total_OT_tokenized2[Total_OT_tokenized2['Orginal Tweets']==1]
Groupby_OTTOK2 = Total_OT_tokenized2.groupby(['username']).sum()
Groupby_OTTOK2['per_original_tweet'] = (Groupby_OTTOK2['tokenized2']/Groupby_OTTOK2['Orginal Tweets'])

Sample_Groupby_OTTOK2 = Groupby_OTTOK2.sample(n=15)
Sample_Groupby_OTTOK2

                 Orginal Tweets  tokenized2  per_original_tweet
username
HABBAS55805960               15         467           31.133333
roozegara                    28         576           20.571429
h_sad_26                     18         408           22.666667
Mhdipahlavani                10         272           27.200000
saharzakariya                 2          40           20.000000
samiramiss7Dece               6         175           29.166667
barbadshodeh                 27         501           18.555556
RadioZamaneh                 68        1833           26.955882
Sara_e_Kali                  25         499           19.960000
Mostafaa_Azizi               18         539           29.944444
hssein66                     19         445           23.421053
seyyed_Alii                  16         500           31.250000
sheykholtabib                10         255           25.500000
Almaaaa_20                    6         125           20.833333
Madoooou                     21         448           21.333333

## **type_token_ratio_per_reply**

In [175]:
Total_R_tokenized2 = pd.concat([df["username"], df['new_Text'], M, tokenized2['tokenized2']], axis=1)

In [178]:
Total_R_tokenized2 = Total_R_tokenized2[Total_R_tokenized2['Mentions']==1]
Groupby_RTOK2 = Total_R_tokenized2.groupby(['username']).sum()
Groupby_RTOK2['per_Replies'] = (Groupby_RTOK2['tokenized2']/Groupby_RTOK2['Mentions'])

Sample_Groupby_RTOK2 = Groupby_RTOK2.sample(n=15)
Sample_Groupby_RTOK2

                 Mentions  tokenized2  per_Replies
username
ziabary                58        1699    29.293103
dara_nesari            50        1112    22.240000
dideban1357            51        1327    26.019608
kocholo__khan          41         920    22.439024
ExSweeneyTodd          49        1067    21.775510
FKamrannia             58        1030    17.758621
maryamg28271921        94        1711    18.202128
K91Ol                  22         517    23.500000
amir_zaeimian          64        1169    18.265625
Hichkas1985             9         197    21.888889
FArAnAk__A_f            7          91    13.000000
mortaza27              55        1422    25.854545
mo_ferfery             22         529    24.045455
hoseinhlhl             69        1979    28.681159
alihadi015              1          15    15.000000

## **type_token_ratio_per_retweet**

In [176]:
Total_RT_tokenized2 = pd.concat([df["username"], df['new_Text'], RT, tokenized2['tokenized2']], axis=1)

In [181]:
Total_RT_tokenized2 = Total_RT_tokenized2[Total_RT_tokenized2['Retweets']==1]
Groupby_RTTOK2 = Total_RT_tokenized2.groupby(['username']).sum()
Groupby_RTTOK2['per_Retweet'] = (Groupby_RTTOK2['tokenized2']/Groupby_RTTOK2['Retweets'])

Sample_Groupby_RTTOK2 = Groupby_RTTOK2.sample(n=15)
Sample_Groupby_RTTOK2

                 Retweets  tokenized2  per_Retweet
username
EhsanAbedi             14         362    25.857143
tiliittt                6          77    12.833333
dariusheee             22         531    24.136364
Mehdi___nasiri         29         618    21.310345
Ali43694277            51        1309    25.666667
MahnazShirali          18         401    22.277778
MojtabaRezakhah        13         354    27.230769
siamak087               1          29    29.000000
roozegara               2          32    16.000000
niiilz73               63        1602    25.428571
EscobarMohsen           1          20    20.000000
Mohsen_Asg_ir           1          31    31.000000
SaberBostaniAsl        43        1082    25.162791
ensiyehdaemi           89        2264    25.438202
ashobmotlagh           48        1047    21.812500

# **----------------------------------------------------------------------------------------------------------------------------------------------------------------**

<a id='question09'></a>
# **extracting all above featurs per comunity**

<a id='question06'></a>

## **average tokens**

## **tokenization**

In [201]:
df['tokenized'] = (df['new_Text'].apply(str.split))
df['tokenized_number'] = (df['tokenized'].apply(len))
df['tokenized_number']

0        22
1         2
2        27
3        27
4        24
         ..
70605    19
70606    29
70607    22
70608     5
70609    25
Name: tokenized_number, Length: 70610, dtype: int64

In [202]:
Tokenized_Tweets = pd.concat([Total_Tweets, df['tokenized'], df['tokenized_number']], axis=1)

Sample_Tokenized_Tweets = Tokenized_Tweets.sample(n=15)
Sample_Tokenized_Tweets

,username,text,Orginal Tweets,Retweets,Mentions,tokenized,tokenized_number
7165,NavadeEghtesadi,فیلم/ حرمت‌الله رفیعی رئیس انجمن صنفی دفاتر خد...,1,0,0,"[فیلم, حرمت, الله, رفیعی, رییس, انجمن, صنفی, د...",41
26913,hananeh1367,@sarir357 این کارهارو قبلش انجام دادم مسکن هم...,0,0,1,"[<menrep>, این, کارهارو, قبلش, انجام, دادم, مس...",18
15400,Kasebe_bazari,RT @Kasebe_bazari: هر بار زیر این کتری رو روشن...,0,1,0,"[هر, بار, زیر, این, کتری, رو, روشن, کردم, یکی,...",26
48838,Lion_Azi,قتل دختر ۲۲ ساله سنندجی #مهسا_امینی (#ژینا_امی...,1,0,0,"[قتل, دختر, <number>, ساله, سنندجی, مهسا_امینی...",10
13165,noonalf,@madam_rosa2020 چقد نقاشی تو دوست دارم,0,0,1,"[<menrep>, چقد, نقاشی, تو, دوست, دارم]",6
37878,cicikhanoom,شما چجور کثافتی هستین که به توله‌های خودتون می...,1,0,0,"[شما, چجور, کثافتی, هستین, که, به, توله, های, ...",21
42577,Sara72850425,RT @mry66y: واقعه «عاشورا» نتیجه غفلت از «غدیر...,0,1,0,"[واقعه, عاشورا, نتیجه, غفلت, از, غدیر, بود, نب...",12
60458,Mehrshot,@b_zerse_ghate نه اونا جنگهای گذشته بود\nالان ...,0,0,1,"[<menrep>, نه, اونا, جنگهای, گذشته, بود, الان,...",30
21678,mohsenabadi_twt,RT @s_baradaran: یکیو بخواین وقتی حواستون نیست...,0,1,0,"[یکیو, بخواین, وقتی, حواستون, نیست, اینطوری, ن...",9
21654,mohsenabadi_twt,RT @Mohamadhossie15: حرکت اربعین زمینه ساز ظهو...,0,1,0,"[حرکت, اربعین, زمینه, ساز, ظهور, منجی, بشریت, ...",10
33814,ami_sa_he,RT @hopesaeedi: به خودت تکیه کن، بقیه رهگذرن..👌,0,1,0,"[به, خودت, تکیه, کن, بقیه, رهگذرن, <emoji>]",7
45543,arghanon,@AliJazayerii اشتباه شده بود,0,0,1,"[<menrep>, اشتباه, شده, بود]",4
40615,owjmedia_org,مرکز موسیقی #مأوا برگزار می کند؛\n🔶قهرمان #لیگ...,1,0,0,"[مرکز, موسیقی, ماوا, برگزار, می, کند, <emoji>ق...",55
29925,aghayefarhangi,اربعین ایران بمانم\nبی گمان دق میکنم\nگوشه ای ...,1,0,0,"[اربعین, ایران, بمانم, بی, گمان, دق, میکنم, گو...",17
51811,TofanKHofteh,@Lanatiebaba الانم شدی🤦‍♂️,0,0,1,"[<menrep>, الانم, شدی<emoji>]",3

## **average_tokens_per_original _tweet**

In [184]:
Total_orginal_Tweets = pd.concat([df["cluster"], df['text'], T,df['tokenized_number']], axis=1)

In [187]:
Total_orginal_Tweets = Total_orginal_Tweets[Total_orginal_Tweets['Orginal Tweets']==1]
Groupby_OT = Total_orginal_Tweets.groupby(['cluster']).sum()
Groupby_OT['per_original_tweet'] = round(Groupby_OT['tokenized_number']/Groupby_OT['Orginal Tweets'])
Groupby_OT

         Orginal Tweets  tokenized_number  per_original_tweet
cluster
1                  3786            119041                31.0
2                  5848            180898                31.0
3                  4352            135695                31.0
4                  2551             53068                21.0
5                  2319             60306                26.0

## **average_tokens_per_reply**

In [189]:
Total_Replies = pd.concat([df["cluster"], df['text'], M,df['tokenized_number']], axis=1)

In [190]:
Total_Replies = Total_Replies[Total_Replies['Mentions']==1]
Groupby_M = Total_Replies.groupby(['cluster']).sum()
Groupby_M['per_Replies'] = round(Groupby_M['tokenized_number']/Groupby_M['Mentions'])

Groupby_M

         Mentions  tokenized_number  per_Replies
cluster
1            4680             82729         18.0
2            7413            103917         14.0
3            7330             83689         11.0
4            8738             66865          8.0
5            3924             30470          8.0

## **average_tokens_per_retweet**

In [191]:
Total_Retweets = pd.concat([df["cluster"], df['text'], RT,df['tokenized_number']], axis=1)

In [192]:
Total_Retweets = Total_Retweets[Total_Retweets['Retweets']==1]
Groupby_RT = Total_Retweets.groupby(['cluster']).sum()
Groupby_RT['per_Retweets'] = round(Groupby_RT['tokenized_number']/Groupby_RT['Retweets'])

Groupby_RT

         Retweets  tokenized_number  per_Retweets
cluster
1            5085            100230          20.0
2            3029             61670          20.0
3            3564             72442          20.0
4            3370             55728          17.0
5            4621             92249          20.0

<a id='question07'></a>
### Average Hashtags

## **Hashtag counts**

In [203]:
H = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'\#')
    l = len(re.findall(pattern, string))
    H.append(l)
Hashtag = pd.DataFrame(H)
Hashtag = Hashtag.set_axis(["Hashtag"], axis=1)
Hashtag = pd.concat([df["text"], Hashtag], axis=1)
Sample_Hashtag = Hashtag.sample(n=15)
Sample_Hashtag

                                                    text  Hashtag
34993       @amirhemmati96 کاش اینا اندازه تو عقل داشتند        0
48775             @mehdi_hamedi هر کوفتی که هستی\nعشق من        0
64683                                       @Azade244 😅😂        0
43947  البته عذرخواهی می‌کنم از خبرنگاران و گفته‌ام ا...        0
31950  RT @abb_abdi: می‌گویند بی حجابی عوارض اخلاقی ب...        0
5095                                      @_bahar_____ 🤣        0
58215  RT @alirezakiani2: پشت این آزادی و رقص و عشوه ...        0
14048  امام باقر علیه السلام :\nسخن طیب و پاکیزه را ا...        2
26970  @aliheda56514004 @g_karoon موردی است که خود چی...        0
45057  @maswum_ @elham_kocholo @hajjsnoopam @Mas00udm...        0
41690  @nashenaseiran غرب هیچ وقت زیر بار فرمول کمتر ...        0
1937   @aliboskabady من یکسال حذف کردم هیچ تاثیری ندا...        0
22775  RT @ghasedakesepid: بهمن :) https://t.co/64fV7...        0
36750  RT @narges_nourani: سال ۶۶ آمریکا با اسکورت کش...        0
54173  حال ناخوش تجارت الکترونیکی ایران\n\nگزارش سالا...        0

## **average_hashtags_per_original _tweet**

In [194]:
Total_OT_Hashtagh = pd.concat([df["cluster"], df['text'], T, Hashtag['Hashtag']], axis=1)

In [195]:
Total_OT_Hashtagh = Total_OT_Hashtagh[Total_OT_Hashtagh['Orginal Tweets']==1]
Groupby_OTH = Total_OT_Hashtagh.groupby(['cluster']).sum()
Groupby_OTH['per_original_tweet'] = (Groupby_OTH['Hashtag']/Groupby_OTH['Orginal Tweets'])

Groupby_OTH

         Orginal Tweets  Hashtag  per_original_tweet
cluster
1                  3786     3957            1.045166
2                  5848     4158            0.711012
3                  4352     3494            0.802849
4                  2551      714            0.279890
5                  2319     2689            1.159552

## **average_hashtags_per_reply**

In [196]:
Total_R_Hashtagh = pd.concat([df["cluster"], df['text'], M, Hashtag['Hashtag']], axis=1)

In [197]:
Total_R_Hashtagh = Total_R_Hashtagh[Total_R_Hashtagh['Mentions']==1]
Groupby_RH = Total_R_Hashtagh.groupby(['cluster']).sum()
Groupby_RH['per_Replies'] = (Groupby_RH['Hashtag']/Groupby_RH['Mentions'])

Groupby_RH

         Mentions  Hashtag  per_Replies
cluster
1            4680      866     0.185043
2            7413      263     0.035478
3            7330      240     0.032742
4            8738       66     0.007553
5            3924      334     0.085117

## **average_hashtags_per_retweet**

In [199]:
Total_RT_Hashtagh = pd.concat([df["cluster"], df['text'], RT, Hashtag['Hashtag']], axis=1)

In [200]:
Total_RT_Hashtagh = Total_RT_Hashtagh[Total_RT_Hashtagh['Retweets']==1]
Groupby_RTH = Total_RT_Hashtagh.groupby(['cluster']).sum()
Groupby_RTH['per_Retweet'] = (Groupby_RTH['Hashtag']/Groupby_RTH['Retweets'])

Groupby_RTH

         Retweets  Hashtag  per_Retweet
cluster
1            5085     2823     0.555162
2            3029     1361     0.449323
3            3564     1633     0.458193
4            3370      692     0.205341
5            4621     3412     0.738368

<a id='question08'></a>
### Average emojis

## **Emojis counts**

In [204]:
E = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile('[\U00010000-\U0010ffff]', flags=re.UNICODE)
    l = len(re.findall(pattern, string))
    E.append(l)
Emojis = pd.DataFrame(E)
Emojis = Emojis.set_axis(["Emojis"], axis=1)
Emojis = pd.concat([df["text"], Emojis], axis=1)
Sample_Emojis = Emojis.sample(n=15)
Sample_Emojis

                                                    text  Emojis
18950                @Mishab1718 عکس جدید #سردار_سلیمانی       0
28155  RT @Aseman89: هر ملتی که متحد باشد، هر ملتی که...       0
791    RT @MehdiMMJ: نظر آدم فروش ج.ا و کارشناس مهمان...       0
5810   RT @zolnun_s: حاج احمد می گفت:\nاصل فلسفی دنیا...       0
53755  @Mostafa_Q حالا این چه اسمیه چطوری می‌خونیش؟ ک...       1
17421                    @setareh13461 ممنونم ستاره جان🌼       1
51961                        @miss79 میگن واسه ما هم بپز       0
30887  RT @NavidAfkari99: زمانی که جمهوری اسلامی فرزن...       0
27211  اینکه فرمانده سرسپرده ارتش ادعا میکند ارتش در ...       0
9169   RT @4chicachika: کنار قدم‌های جابر را پلی میکن...       0
61785                                   @helen_20087 😂🤝🏻       3
66077       نیاز امروز ایران فهم مشترک است نه عکس مشترک!       0
23040  امروز روش جدیدی برای فرار از وحشت کاغذ سفید پی...       0
68450  RT @chawshin_83: تروریست های طالبان یک زن را ب...       0
39328  RT @filterbaan: در آبان ۹۸، شورای عالی امنیت م...       0

## **average_emojis_per_original _tweet**

In [206]:
Total_OT_Emojis = pd.concat([df["cluster"], df['text'], T, Emojis['Emojis']], axis=1)

In [207]:
Total_OT_Emojis = Total_OT_Emojis[Total_OT_Emojis['Orginal Tweets']==1]
Groupby_OTE = Total_OT_Emojis.groupby(['cluster']).sum()
Groupby_OTE['per_original_tweet'] = (Groupby_OTE['Emojis']/Groupby_OTE['Orginal Tweets'])

Groupby_OTE

         Orginal Tweets  Emojis  per_original_tweet
cluster
1                  3786     973            0.256999
2                  5848    1223            0.209131
3                  4352     983            0.225873
4                  2551     898            0.352019
5                  2319     755            0.325571

## **average_emojis_per_reply**

In [208]:
Total_R_Emojis = pd.concat([df["cluster"], df['text'], M, Emojis['Emojis']], axis=1)

In [209]:
Total_R_Emojis = Total_R_Emojis[Total_R_Emojis['Mentions']==1]
Groupby_RE = Total_R_Emojis.groupby(['cluster']).sum()
Groupby_RE['per_Replies'] = (Groupby_RE['Emojis']/Groupby_RE['Mentions'])

Groupby_RE

         Mentions  Emojis  per_Replies
cluster
1            4680    2851     0.609188
2            7413    3058     0.412519
3            7330    3029     0.413233
4            8738    6933     0.793431
5            3924    2186     0.557085

## **average_emojis_per_retweet**

In [210]:
Total_RT_Emojis = pd.concat([df["cluster"], df['text'], RT, Emojis['Emojis']], axis=1)

In [211]:
Total_RT_Emojis = Total_RT_Emojis[Total_RT_Emojis['Retweets']==1]
Groupby_RTE = Total_RT_Emojis.groupby(['cluster']).sum()
Groupby_RTE['per_Retweet'] = (Groupby_RTE['Emojis']/Groupby_RTE['Retweets'])

Groupby_RTE

         Retweets  Emojis  per_Retweet
cluster
1            5085     922     0.181318
2            3029     365     0.120502
3            3564     542     0.152076
4            3370    1353     0.401484
5            4621     866     0.187405

<a id='question09'></a>
### Average smilies

## **Smilies counts**

In [212]:
S = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r"\:|, \:3, \:O, \:o, \:0, \:@, \:$, \:^, \:&, \:*, \:+, \:~, \:`, \:>, \:<, \:}, \:{, \:[, \:]")
    l = len(re.findall(pattern, string))
    S.append(l)
Smilies = pd.DataFrame(S)
Smilies = Smilies.set_axis(["Smilies"], axis=1)
Smilies = pd.concat([df["text"], Smilies], axis=1)
Sample_Smilies = Smilies.sample(n=15)
Sample_Smilies

                                                    text  Smilies
6486                    @raheazadii مال تو هم همین قدره؟        0
15440  RT @rezadelbarii: قرار بود کلکسیونر بشی واسه چ...        1
48236  RT @LLUHPhysicians: Faculty Spotlight - Nephro...        1
17068                             @sarvin_kh_ معلم زبان.        0
14124  اگر گوگل کنید کوتاه ترین داستان جهان براتون دا...        2
13888                       @zahrakeshvari الهی بگردم 😕😕        0
57461  @Antonchekhovbi1 یا میتونه کار روسیه باشه\nچون...        0
27416  @ndysepideh اگر بغلمون باشه مطمعنن دستومن بهش ...        0
39163  RT @Raha1381: دولت ترامپ چه گلی به سربرجام ناف...        1
66194  Gearing up for Huawei’s second act. Huawei is ...        1
50478         RT @venus48527670: https://t.co/cUg1OJCj9B        2
11500              @Dsavood یسریا به جای گوشت مرغ میریزن        0
33489  چند نکته از #کووید \n1- طبق گزارش های مختلف، ف...        0
40564                                     @Mahsa3131 خیر        0
34698  @7e_Mdrtn این موضوع در اختیار ستاد ویژه پیگیری...        0

## **average_smilies_per_original _tweet**

In [213]:
Total_OT_Smilies = pd.concat([df["cluster"], df['text'], T, Smilies['Smilies']], axis=1)

In [214]:
Total_OT_Smilies = Total_OT_Smilies[Total_OT_Smilies['Orginal Tweets']==1]
Groupby_OTS = Total_OT_Smilies.groupby(['cluster']).sum()
Groupby_OTS['per_original_tweet'] = (Groupby_OTS['Smilies']/Groupby_OTS['Orginal Tweets'])

Groupby_OTS

         Orginal Tweets  Smilies  per_original_tweet
cluster
1                  3786     3362            0.888008
2                  5848     4441            0.759405
3                  4352     3310            0.760570
4                  2551     1039            0.407291
5                  2319     1228            0.529539

## **average_smilies_per_reply**

In [215]:
Total_R_Smilies = pd.concat([df["cluster"], df['text'], M, Smilies['Smilies']], axis=1)

In [216]:
Total_R_Smilies = Total_R_Smilies[Total_R_Smilies['Mentions']==1]
Groupby_RS = Total_R_Smilies.groupby(['cluster']).sum()
Groupby_RS['per_Replies'] = (Groupby_RS['Smilies']/Groupby_RS['Mentions'])

Groupby_RS

         Mentions  Smilies  per_Replies
cluster
1            4680     1009     0.215598
2            7413     1464     0.197491
3            7330      729     0.099454
4            8738      984     0.112612
5            3924      225     0.057339

## **average_smilies_per_retweet**

In [217]:
Total_RT_Smilies = pd.concat([df["cluster"], df['text'], RT, Smilies['Smilies']], axis=1)

In [218]:
Total_RT_Smilies = Total_RT_Smilies[Total_RT_Smilies['Retweets']==1]
Groupby_RTS = Total_RT_Smilies.groupby(['cluster']).sum()
Groupby_RTS['per_Retweet'] = (Groupby_RTS['Smilies']/Groupby_RTS['Retweets'])

Groupby_RTS

         Retweets  Smilies  per_Retweet
cluster
1            5085     6701     1.317797
2            3029     4044     1.335094
3            3564     4905     1.376263
4            3370     4847     1.438279
5            4621     6261     1.354902

<a id='question09'></a>
### Average non_alpha

## Non_alpha counts

In [219]:
NA = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile('[^a-zA-Z]')
    l = len(re.findall(pattern, string))
    NA.append(l)
Non_alpha = pd.DataFrame(NA)
Non_alpha = Non_alpha.set_axis(["Non_alpha"], axis=1)
Non_alpha = pd.concat([df["text"], Non_alpha], axis=1)
Sample_Non_alpha = Non_alpha.sample(n=15)
Sample_Non_alpha

                                                    text  Non_alpha
38075  @mani1998A میگم ک\nفک کن گرفتگیاشون ۶۰ به ۴۰ د...         51
15612  همان عواملی که امام علی(ع) و سپاهش را در مقابل...        256
698    RT @rad1789: مقام رهبری در باره #جورج_فلوید:\n...        135
30507  RT @SahraNasim: اگر ذره‌ای تعهد به پاسخگویی و ...        128
18615  RT @MHozeh: اصلا ما بطلب تر از امام حسین نداری...        132
63134  RT @J1nne: یه وقتی زورگیر میگیرید باید اینقدر ...        134
19207  به امید آزادی #کیوان_مهتدی و همه فعالان کارگری...        120
21587  @smallpartisan امیدوارم واسه فامیل این روز رو ...         54
53883  @s_zires منبعش پسرا هستن اونا شروع کردن دخترا ...         59
2113   @dordaneyepedar @Shiiilller دیونه داشتم کلاس م...         68
50213  🇵🇸✊ |تصویر سازی کاربران اردو زبان از اقامه نما...        110
61968                            @mHesamRahmani دقیقا 👌👌         10
635    توی اولین دیدار رابطه لانگ دیستنس سکس میکنید؟!...        112
61178  RT @mortezatahe: هرروز یک مسئله شرعی؛ \n#اللهم...         57
36669  @hazrat_zahra118 یکم بیشتر توضیح میدی متوجه نشدم🦦         38

## **average_nonalpha_per_original _tweet**

In [220]:
Total_OT_Non_alpha = pd.concat([df["cluster"], df['text'], T, Non_alpha['Non_alpha']], axis=1)

In [221]:
Total_OT_Non_alpha = Total_OT_Non_alpha[Total_OT_Non_alpha['Orginal Tweets']==1]
Groupby_OTNA = Total_OT_Non_alpha.groupby(['cluster']).sum()
Groupby_OTNA['per_original_tweet'] = (Groupby_OTNA['Non_alpha']/Groupby_OTNA['Orginal Tweets'])

Groupby_OTNA

         Orginal Tweets  Non_alpha  per_original_tweet
cluster
1                  3786     618208          163.287903
2                  5848     894751          153.001197
3                  4352     688991          158.315947
4                  2551     261165          102.377499
5                  2319     318872          137.504097

## **average_nonalpha_per_reply**

In [222]:
Total_R_Non_alpha = pd.concat([df["cluster"], df['text'], M, Non_alpha['Non_alpha']], axis=1)

In [225]:
Total_R_Non_alpha = Total_R_Non_alpha[Total_R_Non_alpha['Mentions']==1]
Groupby_RNA = Total_R_Non_alpha.groupby(['cluster']).sum()
Groupby_RNA['per_Replies'] = (Groupby_RNA['Non_alpha']/Groupby_RNA['Mentions'])

Groupby_RNA

         Mentions  Non_alpha  per_Replies
cluster
1            4680     385706    82.415812
2            7413     475921    64.200863
3            7330     385926    52.650205
4            8738     310822    35.571298
5            3924     145813    37.159276

## **average_nonalpha_per_retweet**

In [226]:
Total_RT_Non_alpha = pd.concat([df["cluster"], df['text'], RT, Non_alpha['Non_alpha']], axis=1)

In [227]:
Total_RT_Non_alpha = Total_RT_Non_alpha[Total_RT_Non_alpha['Retweets']==1]
Groupby_RTNA = Total_RT_Non_alpha.groupby(['cluster']).sum()
Groupby_RTNA['per_Retweet'] = (Groupby_RTNA['Non_alpha']/Groupby_RTNA['Retweets'])

Groupby_RTNA

         Retweets  Non_alpha  per_Retweet
cluster
1            5085     505943    99.497148
2            3029     292222    96.474744
3            3564     370103   103.844837
4            3370     293796    87.179822
5            4621     508478   110.036356

<a id='question09'></a>
### Average punctuations

## **Punctuations counts**

In [228]:
P = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'[^\w\s]')
    l = len(re.findall(pattern, string))
    P.append(l)
Punctuations = pd.DataFrame(P)
Punctuations = Punctuations.set_axis(["Punctuations"], axis=1)
Punctuations = pd.concat([df["text"], Punctuations], axis=1)
Sample_Punctuations = Punctuations.sample(n=15)
Sample_Punctuations

                                                    text  Punctuations
7993   RT @moein_moslem: چالز، شاه جدید انگلیس سال ۸۲...             6
13984  @LordDoglord @destinys_father @QasimRashid It ...             4
5307   @MesgariSaber معلومه زیاد با Word کار نکردی! م...             7
2790   معاون دانشجویی دانشگاه امیرکبیر از فوت ۴ دانشج...             0
38408  @sm_1361 بحث ۳۳ کیلومتر نیست. بحث پیچیده ای در...             3
6447   @AZoghe @shahintahmaseb اونایی که میگفتن دلار ...             2
48922                    @Amin_Hx @amir_brareton 😍😂😂😂😂😂😂             9
62848  یبار رفتیم سیتی‌سنتر رفتم دم صندوق ، صندوق‌دار...            42
68588                                     @AttAsHiiiN 🤣🤣             3
4019                       @AmirHosein0077 سلام صبح بخیر             1
32678  RT @MaaajjjeeeD_19: عقلانیـت در حالِ جهانـی شـ...             9
19292  RT @myfootkin: بنا به حکم سپیده رشنو احتمالا 1...             3
35498                       Nope https://t.co/TdnO5fqwga             5
9107                             https://t.co/GY7UecWWdT             5
38064  RT @YasinMolaie: شهرداری و راهسازی همدان \n\nب...             3

## **average_punctuation_per_original _tweet**

In [229]:
Total_OT_Punctuations = pd.concat([df["cluster"], df['text'], T, Punctuations['Punctuations']], axis=1)

In [230]:
Total_OT_Punctuations = Total_OT_Punctuations[Total_OT_Punctuations['Orginal Tweets']==1]
Groupby_OTP = Total_OT_Punctuations.groupby(['cluster']).sum()
Groupby_OTP['per_original_tweet'] = (Groupby_OTP['Punctuations']/Groupby_OTP['Orginal Tweets'])

Groupby_OTP

         Orginal Tweets  Punctuations  per_original_tweet
cluster
1                  3786         35219            9.302430
2                  5848         53821            9.203317
3                  4352         40815            9.378447
4                  2551         13479            5.283810
5                  2319         18542            7.995688

## **average_punctuation_per_reply**

In [231]:
Total_R_Punctuations = pd.concat([df["cluster"], df['text'], M, Punctuations['Punctuations']], axis=1)

In [232]:
Total_R_Punctuations = Total_R_Punctuations[Total_R_Punctuations['Mentions']==1]
Groupby_RP = Total_R_Punctuations.groupby(['cluster']).sum()
Groupby_RP['per_Replies'] = (Groupby_RP['Punctuations']/Groupby_RP['Mentions'])

Groupby_RP

         Mentions  Punctuations  per_Replies
cluster
1            4680         23835     5.092949
2            7413         32762     4.419533
3            7330         26332     3.592360
4            8738         28468     3.257954
5            3924         11549     2.943170

## **average_punctuation_per_retweet**

In [233]:
Total_RT_Punctuations = pd.concat([df["cluster"], df['text'], RT, Punctuations['Punctuations']], axis=1)

In [234]:
Total_RT_Punctuations = Total_RT_Punctuations[Total_RT_Punctuations['Retweets']==1]
Groupby_RTP = Total_RT_Punctuations.groupby(['cluster']).sum()
Groupby_RTP['per_Retweet'] = (Groupby_RTP['Punctuations']/Groupby_RTP['Retweets'])

Groupby_RTP

         Retweets  Punctuations  per_Retweet
cluster
1            5085         36783     7.233628
2            3029         22772     7.517993
3            3564         28783     8.076038
4            3370         23729     7.041246
5            4621         36587     7.917550

<a id='question09'></a>
### Average meaningful punctuations

## **meaningful punctuations counts**

In [235]:
MEP = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'\..., \!?, \???, \!!!')
    l = len(re.findall(pattern, string))
    MEP.append(l)
Meaningful_P = pd.DataFrame(MEP)
Meaningful_P = Meaningful_P.set_axis(["Meaningful_P"], axis=1)
Meaningful_P = pd.concat([df["text"], Meaningful_P], axis=1)
Sample_Meaningful_P = Meaningful_P.sample(n=15)
Sample_Meaningful_P

                                                    text  Meaningful_P
43767  #تهران، #اصفهان و #تبریز سه شهر #گران ایران مع...             0
27310  جناب #انصاری_فرد درسته امیرحسین آرمان می‌گفت: ...             0
8276                                  کی زد قاییدی 😂💙💙💙💙             0
62431  @kate_Austin72 @I_R_A_N_I_A مواظب ته کوچه تون ...             0
54901           @Sshlomc یک ایران سپاس از شما بانو 🙏🏻🌹🙏🏻             0
43989  RT @horre313H: این داغِ صدساله، مگر سرد شدنی‌ا...             0
63179                           @AmirOmidnejad باگی نیست             0
22447  @jannatkhah_ir می‌دونی اگر یکدونه از همین پزشک...             0
31187                               @sarapoyan2 چه قشنگه             0
57045                              @Many73439991 عخییییی             0
67238  RT @shimababaeii: و همچنان در بر روی همان پاشن...             0
53929                                @fatym2912 چییییییی             0
7525   RT @e_manavi: گاهی جسمِ یک نفر توان تحمل عظمتِ...             0
2452   RT @delbandeshunam: مگه از کلاشینکف برای کشتن ...             0
48908  #سپیده_رشنو های #شیراز دستگیر شدند\nشیراز یک ش...             0

## **average_meaningful_punctuation_per_original _tweet**

In [236]:
Total_OT_Meaningful_P = pd.concat([df["cluster"], df['text'], T, Meaningful_P['Meaningful_P']], axis=1)

In [237]:
Total_OT_Meaningful_P = Total_OT_Meaningful_P[Total_OT_Meaningful_P['Orginal Tweets']==1]
Groupby_OTMEP = Total_OT_Meaningful_P.groupby(['cluster']).sum()
Groupby_OTMEP['per_original_tweet'] = (Groupby_OTMEP['Meaningful_P']/Groupby_OTMEP['Orginal Tweets'])

Groupby_OTMEP

         Orginal Tweets  Meaningful_P  per_original_tweet
cluster
1                  3786             0                 0.0
2                  5848             0                 0.0
3                  4352             0                 0.0
4                  2551             0                 0.0
5                  2319             0                 0.0

## **average_meaningful_punctuation_per_reply**

In [238]:
Total_R_Meaningful_P = pd.concat([df["cluster"], df['text'], M, Meaningful_P['Meaningful_P']], axis=1)

In [239]:
Total_R_Meaningful_P = Total_R_Meaningful_P[Total_R_Meaningful_P['Mentions']==1]
Groupby_RMEP = Total_R_Meaningful_P.groupby(['cluster']).sum()
Groupby_RMEP['per_Replies'] = (Groupby_RMEP['Meaningful_P']/Groupby_RMEP['Mentions'])

Groupby_RMEP

         Mentions  Meaningful_P  per_Replies
cluster
1            4680             0          0.0
2            7413             0          0.0
3            7330             0          0.0
4            8738             0          0.0
5            3924             0          0.0

## **average_meaningful_punctuation_per_retweet**

In [240]:
Total_RT_Meaningful_P = pd.concat([df["cluster"], df['text'], RT, Meaningful_P['Meaningful_P']], axis=1)

In [241]:
Total_RT_Meaningful_P = Total_RT_Meaningful_P[Total_RT_Meaningful_P['Retweets']==1]
Groupby_RTMEP = Total_RT_Meaningful_P.groupby(['cluster']).sum()
Groupby_RTMEP['per_Retweet'] = (Groupby_RTMEP['Meaningful_P']/Groupby_RTMEP['Retweets'])

Groupby_RTMEP

         Retweets  Meaningful_P  per_Retweet
cluster
1            5085             0          0.0
2            3029             0          0.0
3            3564             0          0.0
4            3370             0          0.0
5            4621             0          0.0

<a id='question09'></a>
### Average urls

In [242]:
U = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)')
    l = len(re.findall(pattern, string))
    U.append(l)
Urls = pd.DataFrame(U)
Urls = Urls.set_axis(["Urls"], axis=1)
Urls = pd.concat([df["text"], Urls], axis=1)
Sample_Urls = Urls.sample(n=15)
Sample_Urls

                                                    text  Urls
19235  @itsazizkazemi @alichahe https://t.co/60CeJK80...     1
52921  @fat_i637 هر آدمی که باشه با هر شخصیتی وقتی با...     0
65563  #شاهنشاها به لطف مردم مصر وآن بزرگمرد #انورساد...     1
31928  فقط ميشه گفت كه به قبر پدرت سگ برينه https://t...     1
15834  یه unpopular opinion دارم که اگه بگم منو به دا...     0
31304  RT @parvizdeamer: #Iran: Stop ruthless attacks...     1
30682  RT @pada428: و بالاخره بعد از ۱۲سال عذاب،استرس...     0
11911  RT @IranIntl: گزارش‌های منتشر شده مبنی بر این ...     0
47713  با دست چپ می‌توان از قلب محافظت کرد. در اینصور...     1
32392  حاج قاسم سلیمانی:\nباید به این بلوغ برسیم که ن...     1
52326  @Lisami_m @Khashiyar @RahAwish احسنت. 👏🏼👏🏼\nخش...     0
2097   @EMAMMEHRAN کاش من بودم میومدم اذیتت میکردم  ا...     0
10315  RT @sanam_bar: امشب با دخترم بیرون بودیم\nناچا...     0
46215                                @Sonofthebeach98 😔💔     0
16916  البته انگار تا ۴۰ سالگی این‌جوریه بعد ۴۰ سال د...     0

## **average_urls_per_original _tweet**

In [243]:
Total_OT_Urls = pd.concat([df["cluster"], df['text'], T, Urls['Urls']], axis=1)

In [244]:
Total_OT_Urls = Total_OT_Urls[Total_OT_Urls['Orginal Tweets']==1]
Groupby_OTU = Total_OT_Urls.groupby(['cluster']).sum()
Groupby_OTU['per_original_tweet'] = (Groupby_OTU['Urls']/Groupby_OTU['Orginal Tweets'])

Groupby_OTU

         Orginal Tweets  Urls  per_original_tweet
cluster
1                  3786  2633            0.695457
2                  5848  3255            0.556601
3                  4352  2387            0.548483
4                  2551   760            0.297922
5                  2319   813            0.350582

## **average_urls_per_reply**

In [245]:
Total_R_Urls = pd.concat([df["cluster"], df['text'], M, Urls['Urls']], axis=1)

In [246]:
Total_R_Urls = Total_R_Urls[Total_R_Urls['Mentions']==1]
Groupby_RU = Total_R_Urls.groupby(['cluster']).sum()
Groupby_RU['per_Replies'] = (Groupby_RU['Urls']/Groupby_RU['Mentions'])

Groupby_RU

         Mentions  Urls  per_Replies
cluster
1            4680   673     0.143803
2            7413   477     0.064346
3            7330   349     0.047613
4            8738   501     0.057336
5            3924   146     0.037207

## **average_urls_per_retweet**

In [247]:
Total_RT_Urls = pd.concat([df["cluster"], df['text'], RT, Urls['Urls']], axis=1)

In [248]:
Total_RT_Urls = Total_RT_Urls[Total_RT_Urls['Retweets']==1]
Groupby_RTU = Total_RT_Urls.groupby(['cluster']).sum()
Groupby_RTU['per_Retweet'] = (Groupby_RTU['Urls']/Groupby_RTU['Retweets'])

Groupby_RTU

         Retweets  Urls  per_Retweet
cluster
1            5085  1055     0.207473
2            3029   558     0.184219
3            3564   801     0.224747
4            3370   889     0.263798
5            4621   897     0.194114

<a id='question09'></a>
### Average spaces

## Spaces counts

In [249]:
Sp = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(' +')
    l = len(re.findall(pattern, string))
    Sp.append(l)
Spaces = pd.DataFrame(Sp)
Spaces = Spaces.set_axis(["Spaces"], axis=1)
Spaces = pd.concat([df["text"], Spaces], axis=1)
Sample_Spaces = Spaces.sample(n=15)
Sample_Spaces

                                                    text  Spaces
59078  توضیح دقیق این است که امروز نمایندگان مجلس تصو...      41
34613  @VahediMina @mahoor116 @IranianAbadani ضمنا ضر...      31
58690                                      @yasaman_bd 😀       1
57324                       @MrymOlyaei سرمای مطبوعه آره       3
13165             @madam_rosa2020 چقد نقاشی تو دوست دارم       5
63671                                 @peymanyazdani_ 💟💯       1
49845       @kameliy64556249 خیلی قانع کننده بود ممنونم🌹       5
7783   RT @IranIntl: شاهد علوی، ایران اینترنشنال: جان...      24
13604                                   @zarimiri 😍💙باشد       1
16006  عصر انتخابات، زمان مردم است.\nرأی‌های بفرموده ...      20
16174  RT @selda_68_17: سلام یا مهدی یعنی قدم هایمان ...      12
56752    بوی گل سوسن و یاسمن آمد https://t.co/sZwpWUOTNY       6
6405                                   @zahra__td واقعاً       1
63885  چرا با این حال که خونه ام و قرنطینه ام باز وقت...      18
21192                   @arashshafai انسان خوش محضری است       4

## **average_spaces_per_original _tweet**

In [250]:
Total_OT_Spaces = pd.concat([df["cluster"], df['text'], T, Spaces['Spaces']], axis=1)

In [251]:
Total_OT_Spaces = Total_OT_Spaces[Total_OT_Spaces['Orginal Tweets']==1]
Groupby_OTSe = Total_OT_Spaces.groupby(['cluster']).sum()
Groupby_OTSe['per_original_tweet'] = (Groupby_OTSe['Spaces']/Groupby_OTSe['Orginal Tweets'])

Groupby_OTSe

         Orginal Tweets  Spaces  per_original_tweet
cluster
1                  3786  107206           28.316429
2                  5848  158816           27.157319
3                  4352  118896           27.319853
4                  2551   47456           18.602901
5                  2319   51709           22.297973

## **average_spaces_per_reply**

In [252]:
Total_R_Spaces = pd.concat([df["cluster"], df['text'], M, Spaces['Spaces']], axis=1)

In [253]:
Total_R_Spaces = Total_R_Spaces[Total_R_Spaces['Mentions']==1]
Groupby_RSe = Total_R_Spaces.groupby(['cluster']).sum()
Groupby_RSe['per_Replies'] = (Groupby_RSe['Spaces']/Groupby_RSe['Mentions'])

Groupby_RSe

         Mentions  Spaces  per_Replies
cluster
1            4680   74378    15.892735
2            7413   92524    12.481317
3            7330   71301     9.727285
4            8738   56649     6.483062
5            3924   25773     6.568043

## **average_spaces_per_retweet**

In [254]:
Total_RT_Spaces = pd.concat([df["cluster"], df['text'], RT, Spaces['Spaces']], axis=1)

In [255]:
Total_RT_Spaces = Total_RT_Spaces[Total_RT_Spaces['Retweets']==1]
Groupby_RTSe = Total_RT_Spaces.groupby(['cluster']).sum()
Groupby_RTSe['per_Retweet'] = (Groupby_RTSe['Spaces']/Groupby_RTSe['Retweets'])

Groupby_RTSe

         Retweets  Spaces  per_Retweet
cluster
1            5085   98858    19.441101
2            3029   60318    19.913503
3            3564   69346    19.457351
4            3370   55852    16.573294
5            4621   87983    19.039818

<a id='question09'></a>
### Average numbers

## **Numbers counts**

In [256]:
Di = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r'\d')
    l = len(re.findall(pattern, string))
    Di.append(l)
Numbers = pd.DataFrame(Di)
Numbers = Numbers.set_axis(["Numbers"], axis=1)
Numbers = pd.concat([df["text"], Numbers], axis=1)
Sample_Numbers = Numbers.sample(n=15)
Sample_Numbers

                                                    text  Numbers
7175        حیا و عفت زمینه‌ساز ظهور است.\n#نجابت_ایرانی        0
48795  RT @Zahra__dm: چندتا بچه دیگه باید پر پر بشن ت...        3
22267  RT @Maryamkhdayari: کاش میتونستم یه کار کنم ای...        1
59079  مستثنی شدن نمایندگان مجلس از انتشار حقوق تکذیب...        5
52431              @mahdihaji110 زیارت قبول و التماس دعا        3
45853  در دایره‌ی(سیرکل) کسی بودن یک معنای وجودی است....        0
54079  وہ تمام انسانوں کے وقار کا احترام کرتیں تھیں ا...        2
29652                         @itsmeliaii 🤣🤣🤣ی دونه بخند        0
59996  @nightkinge دایی جان عجب داداشی داری\nسلامت با...        0
1218                             https://t.co/akoVOHUKrG        0
26808  RT @EbneHava_: وا دادن یک روزه اوکراین هم دیدی...        0
26269  RT @BarghShar: من اینقده محیط زیست و درخت برام...        0
31986  مهد ایمان و تمدن و ولا ...\nمهد خونخواهان شاه ...        0
53879                    @Nrn48293757 بازخوردشو منفی بده        8
27587                @MFarahani امیدوارم\nاگر تقلب نکنند        0

## **average_numbers_per_original _tweet**

In [257]:
Total_OT_Numbers = pd.concat([df["cluster"], df['text'], T, Numbers['Numbers']], axis=1)

In [258]:
Total_OT_Numbers = Total_OT_Numbers[Total_OT_Numbers['Orginal Tweets']==1]
Groupby_OTDi = Total_OT_Numbers.groupby(['cluster']).sum()
Groupby_OTDi['per_original_tweet'] = (Groupby_OTDi['Numbers']/Groupby_OTDi['Orginal Tweets'])

Groupby_OTDi

         Orginal Tweets  Numbers  per_original_tweet
cluster
1                  3786     8925            2.357369
2                  5848    11953            2.043947
3                  4352     8083            1.857307
4                  2551     2234            0.875735
5                  2319     2543            1.096593

## **average_numbers_per_reply**

In [259]:
Total_R_Numbers = pd.concat([df["cluster"], df['text'], M, Numbers['Numbers']], axis=1)

In [260]:
Total_R_Numbers = Total_R_Numbers[Total_R_Numbers['Mentions']==1]
Groupby_RDi = Total_R_Numbers.groupby(['cluster']).sum()
Groupby_RDi['per_Replies'] = (Groupby_RDi['Numbers']/Groupby_RDi['Mentions'])

Groupby_RDi

         Mentions  Numbers  per_Replies
cluster
1            4680     9944     2.124786
2            7413     9190     1.239714
3            7330    11564     1.577626
4            8738    13856     1.585718
5            3924     8963     2.284149

## **average_numbers_per_retweet**

In [261]:
Total_RT_Numbers = pd.concat([df["cluster"], df['text'], RT, Numbers['Numbers']], axis=1)

In [262]:
Total_RT_Numbers = Total_RT_Numbers[Total_RT_Numbers['Retweets']==1]
Groupby_RTDi = Total_RT_Numbers.groupby(['cluster']).sum()
Groupby_RTDi['per_Retweet'] = (Groupby_RTDi['Numbers']/Groupby_RTDi['Retweets'])

Groupby_RTDi

         Retweets  Numbers  per_Retweet
cluster
1            5085    11726     2.305998
2            3029     4211     1.390228
3            3564     6027     1.691077
4            3370     6025     1.787834
5            4621    12229     2.646397

<a id='question09'></a>
### Average elongation

## **Elongation counts**

In [263]:
EL = []
for i in range(70610):
    string = (str(df.loc[i,"text"]))
    pattern = re.compile(r"(.)\1{2}")
    l = len(re.findall(pattern, string))
    EL.append(l)
Elongation = pd.DataFrame(EL)
Elongation = Elongation.set_axis(["Elongation"], axis=1)
Elongation = pd.concat([df["text"], Elongation], axis=1)
Sample_Elongation = Elongation.sample(n=15)
Sample_Elongation

                                                    text  Elongation
45130                          @gholamalishiran خداروشکر           0
31408  RT @hodisak: وقتی ذات پلید یه آدمو میشناسی ولی...           0
54343  @marpelaao ونحن كذالك نُحبكم كثيراً ونريد زيار...           0
57195  بی شک تاریخ بیاد خواهد داشت نام کسانی را که تح...           0
12884  @florindagraa کی میگه زمختیم یه رفیق دارم از ه...           0
33925               @ALIJOONZ121 میجه و میگفت کشته شد 😂😂           0
70373  RT @Armaiss: آخرین مژه های دختری که از ترس یک ...           0
62567  RT @Ariabarzan: فهم چیستی و چرایی جریان صدر بد...           0
4191                                 @abdollahram زر نزن           0
4038   RT @MemarDanial: باورکردنی نیست. دکتر سهیل اسع...           0
59611  کسی که میتونه بفهمه این دقیقا چی داره میخونه؟ ...           0
40278                 @yasharsun https://t.co/uhsXwZ22hU           0
15948  قائم مقام سازمان بازرسی کل کشور طی نامه‌ای به ...           0
13888                       @zahrakeshvari الهی بگردم 😕😕           0
27119  RT @ranginkamaan: نامه مریم اکبری‌منفرد به دخت...           1

## **average_elongation_per_original _tweet**

In [264]:
Total_OT_Elongation = pd.concat([df["cluster"], df['text'], T, Elongation['Elongation']], axis=1)

In [265]:
Total_OT_Elongation = Total_OT_Elongation[Total_OT_Elongation['Orginal Tweets']==1]
Groupby_OTEL = Total_OT_Elongation.groupby(['cluster']).sum()
Groupby_OTEL['per_original_tweet'] = (Groupby_OTEL['Elongation']/Groupby_OTEL['Orginal Tweets'])

Groupby_OTEL

         Orginal Tweets  Elongation  per_original_tweet
cluster
1                  3786         569            0.150291
2                  5848         662            0.113201
3                  4352        1280            0.294118
4                  2551         817            0.320267
5                  2319         872            0.376024

## **average_elongation_per_reply**

In [266]:
Total_R_Elongation = pd.concat([df["cluster"], df['text'], M, Elongation['Elongation']], axis=1)

In [267]:
Total_R_Elongation = Total_R_Elongation[Total_R_Elongation['Mentions']==1]
Groupby_REL = Total_R_Elongation.groupby(['cluster']).sum()
Groupby_REL['per_Replies'] = (Groupby_REL['Elongation']/Groupby_REL['Mentions'])

Groupby_REL

         Mentions  Elongation  per_Replies
cluster
1            4680        1008     0.215385
2            7413        2257     0.304465
3            7330        1306     0.178172
4            8738        3002     0.343557
5            3924         855     0.217890

## **average_elongation_per_retweet**

In [269]:
Total_RT_Elongation = pd.concat([df["cluster"], df['text'], RT, Elongation['Elongation']], axis=1)

In [270]:
Total_RT_Elongation = Total_RT_Elongation[Total_RT_Elongation['Retweets']==1]
Groupby_RTEL = Total_RT_Elongation.groupby(['cluster']).sum()
Groupby_RTEL['per_Retweet'] = (Groupby_RTEL['Elongation']/Groupby_RTEL['Retweets'])

Groupby_RTEL

         Retweets  Elongation  per_Retweet
cluster
1            5085         840     0.165192
2            3029         267     0.088148
3            3564         694     0.194725
4            3370        1452     0.430861
5            4621        1441     0.311837

<a id='question09'></a>
## **Common tokens**

## **common_tokens_per_original_tweet**

In [272]:
Total_orginal_Tweets = Total_orginal_Tweets[Total_orginal_Tweets['Orginal Tweets']==1]
Groupby_OT = Total_orginal_Tweets.groupby(['cluster']).sum()
Groupby_OT.sort_values(by=['tokenized_number'], ascending=False).head(1)

         Orginal Tweets  tokenized_number
cluster
2                  5848            180898

## **common_tokens_per_reply**

In [273]:
Total_Replies = Total_Replies[Total_Replies['Mentions']==1]
Groupby_R_T = Total_Replies.groupby(['cluster']).sum()
Groupby_R_T.sort_values(by=['tokenized_number'], ascending=False).head(1)

         Mentions  tokenized_number
cluster
2            7413            103917

## **common_tokens_per_retweet**

In [274]:
Total_Retweets = Total_Retweets[Total_Retweets['Retweets']==1]
Groupby_RT_T = Total_Retweets.groupby(['cluster']).sum()
Groupby_RT_T.sort_values(by=['tokenized_number'], ascending=False).head(1)

         Retweets  tokenized_number
cluster
1            5085            100230

<a id='question09'></a>
### Common hashtags

## **common_hashtags_per_original_tweet**

In [275]:
Total_OT_Hashtagh = Total_OT_Hashtagh[Total_OT_Hashtagh['Orginal Tweets']==1]
Groupby_OTH = Total_OT_Hashtagh.groupby(['cluster']).sum()
Groupby_OTH.sort_values(by=['Hashtag'], ascending=False).head(1)

         Orginal Tweets  Hashtag
cluster
2                  5848     4158

## **common_hashtags_per_reply**

In [276]:
Total_R_Hashtagh = Total_R_Hashtagh[Total_R_Hashtagh['Mentions']==1]
Groupby_RH = Total_R_Hashtagh.groupby(['cluster']).sum()
Groupby_RH.sort_values(by=['Hashtag'], ascending=False).head(1)

         Mentions  Hashtag
cluster
1            4680      866

## **common_hashtags_per_retweet**

In [277]:
Total_RT_Hashtagh = Total_RT_Hashtagh[Total_RT_Hashtagh['Retweets']==1]
Groupby_RTH = Total_RT_Hashtagh.groupby(['cluster']).sum()
Groupby_RTH.sort_values(by=['Hashtag'], ascending=False).head(1)

         Retweets  Hashtag
cluster
5            4621     3412

<a id='question09'></a>
### Common emojis

## **common_emojis_per_original_tweet**

In [278]:
Total_OT_Emojis = Total_OT_Emojis[Total_OT_Emojis['Orginal Tweets']==1]
Groupby_OTE = Total_OT_Emojis.groupby(['cluster']).sum()
Groupby_OTE.sort_values(by=['Emojis'], ascending=False).head(1)

         Orginal Tweets  Emojis
cluster
2                  5848    1223

## **common_emojis_per_reply**

In [279]:
Total_R_Emojis = Total_R_Emojis[Total_R_Emojis['Mentions']==1]
Groupby_RE = Total_R_Emojis.groupby(['cluster']).sum()
Groupby_RE.sort_values(by=['Emojis'], ascending=False).head(1)

         Mentions  Emojis
cluster
4            8738    6933

## **common_emojis_per_retweet**

In [280]:
Total_RT_Emojis = Total_RT_Emojis[Total_RT_Emojis['Retweets']==1]
Groupby_RTE = Total_RT_Emojis.groupby(['cluster']).sum()
Groupby_RTE.sort_values(by=['Emojis'], ascending=False).head(1)

         Retweets  Emojis
cluster
4            3370    1353

<a id='question09'></a>
### Common smilies

## **common_smilies_per_original_tweet**

In [281]:
Total_OT_Smilies = Total_OT_Smilies[Total_OT_Smilies['Orginal Tweets']==1]
Groupby_OTS = Total_OT_Smilies.groupby(['cluster']).sum()
Groupby_OTS.sort_values(by=['Smilies'], ascending=False).head(1)

         Orginal Tweets  Smilies
cluster
2                  5848     4441

## **common_smilies_per_reply**

In [282]:
Total_R_Smilies = Total_R_Smilies[Total_R_Smilies['Mentions']==1]
Groupby_RS = Total_R_Smilies.groupby(['cluster']).sum()
Groupby_RS.sort_values(by=['Smilies'], ascending=False).head(1)

         Mentions  Smilies
cluster
2            7413     1464

## **common_smilies_per_retweet**

In [283]:
Total_RT_Smilies = Total_RT_Smilies[Total_RT_Smilies['Retweets']==1]
Groupby_RTS = Total_RT_Smilies.groupby(['cluster']).sum()
Groupby_RTS.sort_values(by=['Smilies'], ascending=False).head(1)

         Retweets  Smilies
cluster
1            5085     6701

<a id='question09'></a>
### Type_token_ratio

## **Type_token_ratio counts**

In [284]:
TOK2 = []
for i in range(70610):
    string = (str(df.loc[i,"new_Text"]))
    Tok = set(string)
    l = len(Tok)
    TOK2.append(l)
tokenized2 = pd.DataFrame(TOK2)
tokenized2 = tokenized2.set_axis(["tokenized2"], axis=1)
tokenized2 = pd.concat([df["new_Text"], tokenized2], axis=1)

Sample_tokenized2 = tokenized2.sample(n=15)
Sample_tokenized2

                                                new_Text  tokenized2
23976   در جلسه رسیدگی به مشکلات شرکت ایران_پوپلین ان...          21
472    <menrep> <menrep> <menrep> چقدر شما جماعت جاهل...          30
58554  فکر کن جامدادی رو بزاری کنار کاپ قاعدگی ببری د...          19
34203   her name is mahsa_amini the police in iran be...          23
26073   گزارش کاربران ایرانی نشان می دهد از اولین ساع...          35
53882  <menrep> بستگی داره به سطح رابطه و اینکه انتظا...          33
63222                 دیوونه متوجه نیستی تو مم ردی <url>          16
32551  حالا اگه حسن رو استیضاح کردید و اسحاق اومد همه...          30
69464                              <menrep> پوست نمیفته           17
66615   <number> نظام امنیتی انقلاب اسلامی برخلاف همه...          29
12969  <menrep> <menrep> سپاس از توضیحات خوبتون<emoji...          23
54877  به ما از هر طرف و هر طیف هستیم ما مرد میدان جن...          21
24933                                          <menrep>            8
58621                            <menrep> فک کردم گلابیه          19
66830  <menrep> <menrep> خیر حمایتها یکی نیست در ثاتی...          30

## **type_token_ratio_per_original_tweet**

In [285]:
Total_OT_tokenized2 = pd.concat([df["cluster"], df['new_Text'], T, tokenized2['tokenized2']], axis=1)

In [286]:
Total_OT_tokenized2 = Total_OT_tokenized2[Total_OT_tokenized2['Orginal Tweets']==1]
Groupby_OTTOK2 = Total_OT_tokenized2.groupby(['cluster']).sum()
Groupby_OTTOK2['per_original_tweet'] = (Groupby_OTTOK2['tokenized2']/Groupby_OTTOK2['Orginal Tweets'])

Groupby_OTTOK2

         Orginal Tweets  tokenized2  per_original_tweet
cluster
1                  3786      107494           28.392499
2                  5848      158162           27.045486
3                  4352      120493           27.686811
4                  2551       59075           23.157585
5                  2319       61542           26.538163

## **type_token_ratio_per_reply**

In [287]:
Total_R_tokenized2 = pd.concat([df["cluster"], df['new_Text'], M, tokenized2['tokenized2']], axis=1)

In [288]:
Total_R_tokenized2 = Total_R_tokenized2[Total_R_tokenized2['Mentions']==1]
Groupby_RTOK2 = Total_R_tokenized2.groupby(['cluster']).sum()
Groupby_RTOK2['per_Replies'] = (Groupby_RTOK2['tokenized2']/Groupby_RTOK2['Mentions'])

Groupby_RTOK2

         Mentions  tokenized2  per_Replies
cluster
1            4680      113619    24.277564
2            7413      166185    22.418049
3            7330      153426    20.931241
4            8738      166023    19.000114
5            3924       73700    18.781855

## **type_token_ratio_per_retweet**

In [289]:
Total_RT_tokenized2 = pd.concat([df["cluster"], df['new_Text'], RT, tokenized2['tokenized2']], axis=1)

In [290]:
Total_RT_tokenized2 = Total_RT_tokenized2[Total_RT_tokenized2['Retweets']==1]
Groupby_RTTOK2 = Total_RT_tokenized2.groupby(['cluster']).sum()
Groupby_RTTOK2['per_Retweet'] = (Groupby_RTTOK2['tokenized2']/Groupby_RTTOK2['Retweets'])

Groupby_RTTOK2

         Retweets  tokenized2  per_Retweet
cluster
1            5085      125537    24.687709
2            3029       73601    24.298778
3            3564       86253    24.201178
4            3370       75798    22.491988
5            4621      112757    24.400995